[2017-03-04 09:43] wictorwilen opened #1 "The zipped manifest file should not be named tab.zip"
It should have a name that is the name of the tab

[2017-03-04 09:44] wictorwilen opened #2 "The Developer name cannot be empty"
Currently the generator doesn't validate that you enter anything in the developer name question

[2017-03-04 10:57] wictorwilen commented on #1
Fixed

[2017-03-04 10:57] #1 closed, assigned to wictorwilen

[2017-03-04 10:57] wictorwilen commented on #2
Fixed

[2017-03-04 10:57] #2 closed, assigned to wictorwilen

[2017-03-05 20:54] Laskewitz opened #3 "Small typo in README.md in generator"
There is a small typo in the README.md in the generator at line 42:

I think you meant:

[2017-03-05 21:06] Laskewitz opened #4 "Another small error in the README.md in the generator"
At step 10 the web app name isn't inserted:

should be:

[2017-03-05 21:09] #4 closed, assigned to nobody

[2017-03-05 21:11] Laskewitz commented on #4
Sorry, my bad. Tried it again and it worked perfectly.. 👍

[2017-03-05 21:24] wictorwilen commented on #3
Thanks Daniel! Merged and closed!

[2017-03-05 21:24] #3 closed, assigned to wictorwilen

[2017-03-09 23:16] sebastienlevert opened #7 "Required "guid" module missing"
As soon as we install globally the generator on Windows 10 and try to run the generator using "yo teams-tab", an error is thrown stating that the "guid" module is missing.

![image](https://cloud.githubusercontent.com/assets/7620955/23774961/4e6a7e0a-04f4-11e7-9ab1-56d428057aa7.png)

When installing the guid module (npm install guid --global), it starts to work again.

[2017-03-10 06:41] wictorwilen commented on #7
Thanks for finding this. Issue is now fixed!

[2017-03-10 06:41] #7 closed, assigned to wictorwilen

[2017-03-23 03:34] laneyvb opened #8 "The provided value "./dist/web/scripts" is not an absolute path!"
I'm getting an error when running the webpack build "The provided value "./dist/web/scripts" is not an absolute path , same for /dist "
I've found that can be worked around via appending __dirname + in the right place in the webpack.config.
Couldn't see any contribution guidelines so figured would log it as a bug, but happy to fork and submit as pull request if that is helpful.

[2017-03-23 05:48] wictorwilen commented on #8
Thanks Elaine, I'd love a PR for this. Go ahead!

[2017-03-24 07:48] wictorwilen commented on #8
Resolved with PR #9

[2017-03-24 07:48] #8 closed, assigned to nobody

[2017-03-29 09:38] artokai opened #10 "Enhancement: Support dialogs and stored conversation states in CustomBots"
**Current behavior**

Currently the generated Custom Bot is basically just a Node Express handler which receives the posted message as input and returns a message back to the caller. Therefore the provided template does not support "long running" dialogs, stored conversation states or other services offered by the UniversalBot class.

**Enhancement idea**

Custom bots could be identical to the "Bo

[2017-03-29 15:19] wictorwilen commented on #10
Thanks for the feedback @artokai, the idea is really cool, but I'm uncertain that it should be in the generator - this sounds more like a code example rather than boilerplate code, which is the intention of this generator. Thoughts?

[2017-03-29 15:50] artokai commented on #10
I thought that this kind of thing could be part of the generator mostly because it would make bot development easier. Now you have to code your bot differently if you plan to register it as a "custom bot" in MS Teams. With a custom Connector the bot code could be same regardless of how you actually make it available (either register it to the bot framework service or add it as a "custom bot" to a

[2017-03-30 04:56] artokai commented on #10
I've done some more testing and it is actually possible to write a new connector that will allow you to use a "normal bot" and connect it to MS Teams using the "add custom bot" -feature. It does have some limitations but it works. I'll try to clean up my code a bit and post it somewhere soon.

But I now think the whole idea of "custom bots" is not to bypass the "Bot Framework Service" or the requi

[2017-03-30 15:21] wictorwilen commented on #10
Yup, the intention for the Custom Bot is for users/devs who doesn't want to go the BotFx route. Essentially it's a webhook.
I'll close this but am looking forward to a code sample!

[2017-03-30 15:21] #10 closed, assigned to nobody

[2017-05-07 09:29] KbWorks opened #12 "Deploy of a bot"
Hi Wictor,

i got a issue when i deploy a bot via the bot framework and push it to azure. i get the following error hope you can help a bit

$ git push azure master
Counting objects: 35, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (32/32), done.
Writing objects: 100% (35/35), 27.10 KiB | 0 bytes/s, done.
Total 35 (delta 2), reused 0 (delta 0)
remote: Updating branch 'm

[2017-05-07 10:01] wictorwilen commented on #12
It fails when npm is trying to download @types/body-parser (https://www.npmjs.com/package/@types/body-parser)
1) Try to do the push again - sometimes this is just how npm works when it tries to download a dependency
2) share your package.json if you still see that issue

[2017-05-07 10:10] KbWorks commented on #12
Hi Wictor even made a new project but same issue.

[package.json.zip](https://github.com/wictorwilen/generator-teams/files/981480/package.json.zip)

Thanks for your quick reaction!

[2017-05-07 10:16] wictorwilen commented on #12
That is weird, I just tested locally to install @type/body-parser@0.0.33 and it worked. Have you tried logging into the console i Azure and do an npm install there.
Also I noticed that none of the @types packages in your solution above works - they all give 404.
I can give it a more thorough try later - meanwhile you could remove the  @types from the package.json and included /node_modules/@types

[2017-05-07 10:17] KbWorks commented on #12
Ok thanks gonna let you know what is happening thanks for your effort so far :-)

[2017-05-07 12:52] KbWorks commented on #12
mm seems this creates another error
git push azure master
Counting objects: 6, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 542 bytes | 0 bytes/s, done.
Total 6 (delta 4), reused 0 (delta 0)
remote: Updating branch 'master'.
remote: Updating submodules.
remote: Preparing deployment for commit id 'a9a727f7df'.
remote: Running cus

[2017-05-07 13:05] wictorwilen commented on #12
Does it build locally (`gulp build`)?

[2017-05-07 13:09] KbWorks commented on #12
yes it only happens when i do a $ git push azure master

[2017-05-07 13:16] wictorwilen commented on #12
Check your `WEBSITE_NODE_DEFAULT_VERSION`  under *Application Settings* in your Azure App Service. Make sure it is `6.9.1`. It looks like you're using `0.10.28`.
Check https://docs.microsoft.com/en-us/azure/nodejs-specify-node-version-azure-apps for more information.

[2017-05-07 15:57] KbWorks commented on #12
git push azure master
Counting objects: 4, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 374 bytes | 0 bytes/s, done.
Total 4 (delta 3), reused 0 (delta 0)
remote: Updating branch 'master'.
remote: Updating submodules.
remote: Preparing deployment for commit id 'a9828edcee'.
remote: Running custom deployment command...
remote: Ru

[2017-05-08 07:23] KbWorks commented on #12
Found the solution to the problem and you already posted it but i did not understand correct. What i did is at the following line to GitIgnore file.
node_modules/**/*
!node_modules/@types/

after that i removed the nodemodules in azure and did a new push. THanks for your great help. Is this something you are going to add in your solution or is it specific to my solution.

[2017-05-08 07:25] wictorwilen commented on #12
Great you solved it. I have not seen this previously and I pushed hundreds of times testing this, so I don't think it is generic. I will test it again though.

[2017-05-15 08:26] wictorwilen commented on #12
Hey @KbWorks - got the issue this morning as well when deploying to a new subscription. And I also found a workaround for it.

What you need to do is to make sure that your `.deployment` file looks as follows:

[code]

I will update the generator with this...

[2017-05-15 08:28] KbWorks commented on #12
Thanks Wictor!
Did you also make a solution for connectors in teams? just curious :-)

[2017-05-15 08:32] wictorwilen commented on #12
It's coming in the next big drop!

[2017-05-15 20:07] billbliss opened #15 "Integrating templates for more complex bots"
Wictor, today the bot portion of the generator template is pretty basic.

We've been working on a templatized version of a more complex bot we built. The GitHub project for the template is here: https://github.com/OfficeDev/microsoft-teams-template-bot and an example of it is here: https://teams.microsoft.com/l/chat/0/0?users=28:d75efef8-8a73-4b32-b7ad-9a05a7cff408.

Please take a look at the temp

[2017-05-15 20:13] billbliss commented on #12
Apologies for not checking this earlier - I saw in a second that the root cause was that the deployed version was using an ancient version of Node and npm. But what I don't know is why my deployments didn't have the same problem. Oh well, glad you figured it out, @KbWorks.

[2017-05-16 01:03] billbliss commented on #15
Also, check out https://github.com/OfficeDev/microsoft-teams-generator-compose-extension. I would like to fold it into generator-teams but we also need to discuss scope (that example is pretty bare bones).

[2017-06-22 08:55] weshackett opened #16 "Injection missing the css - With fix"
I've seen the tab html pages missing their css markup in the 'dist' folder.

I fixed this by changing a line in the gulpfile.js

var injectSources = ["./dist/web/scripts/**/*.js", "./dist/web/assets/**/*.css"]

[2017-06-22 09:09] wictorwilen commented on #16
Thanks. Will look into it!

[2017-06-22 12:05] weshackett commented on #16
Also noticed the hardcoded css element in the config and remove html files :)

[2017-07-02 09:22] rheid opened #17 "On the readme.md wrong yeoman npm command"
npm install yeoman --global
use
npm install yo --global

[2017-07-02 12:03] wictorwilen commented on #17
Thanks! Will fix this ASAP

[2017-07-06 08:14] #17 closed, assigned to wictorwilen

[2017-07-24 16:50] billbliss opened #19 "Why ask for another bot ID for compose extension?"
When you ask to include a compose extension in the generated application, why does it ask for a bot ID again if it already has one for the bot itself?

Or maybe the current version doesn't handle the case where you can create *both* a bot and a compose extension?

[2017-07-25 08:07] wictorwilen commented on #19
Agreed. We should smooth this process up.

[2017-07-25 08:09] wictorwilen commented on #15
This task is up for grabs!

[2017-07-26 00:13] jakkaj commented on #15
We've been working on an enterprise ready version of the node bot template we call [bot boiler](https://github.com/MSFTAuDX/BotBoiler) - composable, testable, injectable etc - the real deal enterprise style boiler plate built on top of the regular bot builder. It might be of interest to have an enterprise option for the generator?

[2017-08-01 01:43] pschaeflein opened #20 "Generated tou.html file has git merge comments"
Installed generator (1.2.0)
Ran generator, keeping all defaults (building a tab)
In the resulting project, the file src\app\web\tou.html has the following content (notice the body has an unresolved git merge):

[code]

[2017-08-01 06:43] #20 closed, assigned to nobody

[2017-08-01 15:22] pschaeflein opened #22 "Generate manifest with schema version 1.0"
The generated manifest uses v0.4 of the schema. The current schema version is 1.0.

Information on migrating is published at https://msdn.microsoft.com/en-us/microsoft-teams/schemamigrate

[2017-08-01 15:24] wictorwilen commented on #22
@pschaeflein - the current release version is schema 0.4 because that's what's rolled out in GA. If you install the generator-teams@preview then you will get the 1.0 schema (see https://github.com/OfficeDev/generator-teams/blob/master/README.md for preview installation)

[2017-08-01 15:37] pschaeflein commented on #22
Thanks. I was confused by the documentation, which does not mention GA/Beta status.
https://msdn.microsoft.com/en-us/microsoft-teams/schema

[2017-08-04 08:47] #22 closed, assigned to nobody

[2017-08-06 19:59] wictorwilen commented on #16
Fixed in the preview branch

[2017-08-06 19:59] #16 closed, assigned to wictorwilen

[2017-08-06 19:59] #12 closed, assigned to wictorwilen

[2017-08-07 01:17] pschaeflein opened #23 "Change wording in prompt for URL"
PREVIEW generator: The generator prompts for a URL. The URL prompt comes before the selection of components. The prompt is:

"The URL where you will host this tab"

If I am not building a tab, this prompt is confusing.

[2017-08-07 08:47] wictorwilen commented on #23
Thanks @pschaeflein! Very good observation! Will look into it.

[2017-08-07 09:39] wictorwilen opened #24 "Create Documentation"
Add documentation to the microsoft-teams-docs repository on how to use the generator

[2017-08-07 09:40] wictorwilen opened #25 "CI Integration"
Configure project for CI (Travis?)

[2017-08-31 22:34] pschaeflein opened #26 "In generated manifest.json, the "commandLists" node is incorrect."
Generator version 2.2.1-preview

Generated node is "commandList"
Correct node is "commandLists"  (plural)

[2017-09-06 10:34] wictorwilen commented on #26
@pschaeflein - can you please check this. Cannot repro this, and the deployed code in 2.2.1-preview looks correct

[2017-09-06 13:33] pschaeflein commented on #26
Confirmed. Fresh install of generator is fixed.

[2017-09-06 13:33] #26 closed, assigned to wictorwilen

[2017-09-06 13:35] pschaeflein commented on #24
I'll take this.

[2017-10-10 15:25] Pieter-Veenstra opened #27 "Side loading apps"
Not sure if I'm doing anything wrong...

When I try to side load tab apps I'm getting the following error message in my Teams log ( similar messages in the interface too:

[code]

When I try to do the same with a Bot template I'm getting:

[code]

At this stage I'm not sure if this is a single or multiple problems. It could be a single problem with side loading

[2017-11-02 18:09] wictorwilen commented on #27
Can you please share your manifest.json file?

[2017-11-02 18:13] wictorwilen commented on #24
Training and documentation on usage is now available in https://github.com/OfficeDev/TrainingContent

[2017-11-02 20:13] pschaeflein commented on #24
What do you think of the structure of the docs folder in my repo: https://github.com/pschaeflein/generator-teams/tree/preview/docs

I can submit a PR with the Teams section this week.

[2017-11-04 15:54] wictorwilen commented on #19
Fixed in preview branch

[2017-11-04 15:54] #19 closed, assigned to nobody

[2017-11-06 07:31] wictorwilen commented on #24
@pschaeflein - love it. Keep it coming!

[2017-11-09 04:29] derek-smith commented on #27
@wictorwilen
I'm running into the same (or similar) problem when trying to sideload a tab app with this generator. I created a [StackOverflow question](https://stackoverflow.com/questions/47193669/sideloading-app-with-ngrok-not-working) before finding this issue.

The error I'm getting when sideloading is `Error while reading manifest.json: Failed to find icon "https://xxxxxxxx.ngrok.io/assets/tab

[2017-11-09 04:33] derek-smith commented on #27
I'm super new to working with Teams apps, but I just noticed that this generator is using manifest schema v0.4 while the current schema is v1.0 ([schema reference](https://msdn.microsoft.com/en-us/microsoft-teams/schema)). I think I'll try to update my manifest and see if that fixes it. Are you planning on updating this generator?

[2017-11-09 04:45] aosolis commented on #27
@derek-smith, you're running into a different issue. Teams no longer lets you specify icons as URLs; they have to be files that are included in the zip package.

So in manifest.json, you'd change "https://xxxxxxxx.ngrok.io/assets/tab-44.png" to "tab-44.png" (similarly for "tab-88.png") and then add those images to the zip package, next to manifest.json.

[2017-11-09 05:29] derek-smith commented on #27
@aosolis
That fixed it :) Thank you. Seems like the generator needs to be updated right?

[2017-11-14 08:10] steve1607 opened #33 "Build not working on Azure"
Hi everyone,
the issue is a result of deploy.cmd:104.
Locally I could run the server but when running the deployment script on Azure the following error ocurred:

[code]

My workaround to resolve this issue: Comment out deploy.cmd:104-109 and do the build process locally by running gulp on my local machine. Then push everything to azure app service.

It seems like gulp is not working like it shoul

[2018-03-07 04:27] wictorwilen commented on #33
This should be resolved in the new version

[2018-03-07 04:27] #33 closed, assigned to nobody

[2018-03-07 04:28] wictorwilen commented on #27
This is now all fixed in the new version

[2018-03-07 04:28] #27 closed, assigned to nobody

[2018-03-07 04:28] #23 closed, assigned to wictorwilen

[2018-03-07 04:29] wictorwilen commented on #24
@pschaeflein  - if you have time, please update with this new version

[2018-05-24 07:42] shrenky opened #36 "Is there any sample code or demo please"
Hi Wictor,

This generator is awesome, it opens a door for me in Teams development. I've already created a project by it, can you please guide me what is the next? where can I find sample code or demo to continue dev and deploy it to my Office 365 Teams please?

Thank you.

Best Wishes,
Shrenky

[2018-05-27 08:06] chenxizhang opened #37 "The project always fail to deploy to azure"
Hi team

The generator is so great for teams developers. I really love it.
I found some issue about deploy process. when I follow the guidance by README.md, I always fail with some error message as below

=====================

Counting objects: 50, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (46/46), done.
Writing objects: 100% (50/50), 81.04 KiB | 3.86 MiB/s, done.
T

[2018-06-26 23:19] coatsy opened #38 "Manifest version/schema mismatch"
The manifest generated by the generator starts with:
[code]
Which appears to stop the manifest from being loaded by either the teams client (when sideloading) or App Studio (when importing the package)
Fix appears to be updating the manifest version:
[code]

[2018-06-26 23:28] coatsy opened #39 "Older version of botbuilder-teams installed"
This generator installs botbuilder-teams v0.1.7.
On my system, bot won't return anything until I update to v0.2.1

[2018-06-27 01:03] wictorwilen commented on #39
Thanks @coatsy - I recently noticed this as well and only fixed it for the upcoming release. Will make an intermediate release for this combined with a few other minor fixes.

[2018-06-27 01:03] wictorwilen commented on #38
Thanks for noticing, I've not seen this happening before - but for sure it makes sens to have the schema and manifest version to match.

[2018-06-27 01:05] wictorwilen commented on #37
Hi @chenxizhang  - I've not experienced this myself, will test and come back to you

[2018-06-27 01:42] coatsy opened #40 "Can't set headers after they are sent"
Any request to the generated bot seems to throw the following exception:

[code]

Then the request seems to be served appropriately

[2018-06-27 01:44] wictorwilen commented on #40
This is a known issue, fixed in upcoming refactored release. It does not affect functionality, just annoying logging.

[2018-07-13 05:34] shrenky commented on #37
Hi @chenxizhang  - I got similar error: "Local gulp not found in D:\home\site\repository".
because the gulp package belongs to devDependencies, but Azure does not install devDependencies.
I moved all packages in package.json file from devDependencies to dependencies then re-deployed again fixed this issue.

[2018-07-13 06:15] shrenky commented on #36
I've created my first Teams app by this generator, now close this issue, thanks.

[2018-07-13 06:15] #36 closed, assigned to nobody

[2018-07-29 20:08] wictorwilen commented on #40
@coatsy - can you please test with the new preview

[2018-07-29 20:08] wictorwilen commented on #39
@coatsy - can you please test with the new preview

[2018-07-29 20:08] wictorwilen commented on #38
@coatsy - can you please test with the new preview

[2018-08-08 01:27] coatsy commented on #38
Yup - resolved in latest preview

[2018-08-08 01:27] #38 closed, assigned to wictorwilen

[2018-08-08 01:28] coatsy commented on #39
Resolved in latest preview

[2018-08-08 01:28] #39 closed, assigned to wictorwilen

[2018-08-08 02:07] coatsy commented on #40
Fixed in latest preview

[2018-08-08 02:07] #40 closed, assigned to wictorwilen

[2018-08-12 11:48] waldekmastykarz commented on #25
If you like, I could help you setup CI using CircleCI the same way we have it for the Office 365 CLI and SPFx controls

[2018-08-13 15:38] wictorwilen commented on #25
We added Travis CI a couple of months ago, to verify builds. I'd love to extend this to automatic npm publishing - so feel free to contribute.

[2018-08-13 15:48] wictorwilen commented on #37
What is your value of the `NODE_ENV` application setting?

[2018-08-13 17:17] waldekmastykarz commented on #25
I don't know Travis but would be happy to walk you through what we have in the CLI for automatic publishing to npm. We publish @next from dev and @version following the tag on the master branch. Would that be something that you'd like to use or would you prefer only automated releases and manual beta versions?

[2018-08-14 08:42] wictorwilen commented on #25
I'm game!

[2018-08-23 09:10] shrenky commented on #37
@wictorwilen in my environment the value of process.env.NODE_ENV  is  undefined

[2018-09-25 15:57] pljfdi commented on #37
I've just suffered the the same issue of not specifying a Node version in one of the myriad of ways available.  Azure falls back to 0.10.40, and so the deployment all falls apart (The first issue you have is with iisnode.yml not being found)
So can we have it mentioned somewhere in the documentation/page/readme.md that it's critical to have a NODE_ENV, or "engines"{} or WEBSITE_NODE_DEFAULT_VERSIO

[2018-09-25 17:50] wictorwilen commented on #37
@pljfdi - thanks, I'll ensure to include this in a shortly coming update!

[2018-10-15 15:28] doxxx opened #44 "dotenv with imports does not work"
The template uses the following pattern in server.ts to load env vars before initializing the app:

[code]

However, this does not work because all imports are resolved first before any top-level code is executed in the file. Thus, a bot component imported via `TeamsAppsComponents`, which uses the `@BotDeclaration` wrapper to provide the app ID and password from `process.env`, will not find those

[2018-10-15 16:12] wictorwilen commented on #44
Thanks for your comment. In fact it is working, TypeScript converts the import to a `require` statement which is required inline and assigned to a variable/const (`allComponents`) which in turn will invoke the declarators. So switching the order of those will not work.

You can do an easy test by adding a simple log statement into the bot constructor and log the value of the connector (for instanc

[2018-10-15 18:54] doxxx commented on #44
I stepped through it with a debugger as well as log statements. The import was definitely being processed before dotenv was being invoked.

I went digging because my bot's replies had mysteriously stopped working. There were no errors being logged to the console but when I stepped through it with a debugger, the Teams REST API was returning a 401 Unauthorized response when the bot tried to send a

[2018-10-16 06:33] wictorwilen commented on #44
Tried with Typescript 3.1.2 and 3.1.3 and still can't reproduce it. Have you made any other project changes (TS or Webpack config or gulp file changes?). Could you share your code?

[2018-10-16 13:20] doxxx commented on #44
Turns out it was my mistake. I had another import before the `require('dotenv')` that was in turn importing the bot class. Once I moved that import next to the `TeamsAppComponents` import, it fixed the load order.

Sorry for the false alarm!

[2018-10-16 13:20] #44 closed, assigned to nobody

[2018-10-16 13:26] wictorwilen commented on #44
Thanks for the update, feel free to add any new issues you find! And thanks for using the generator!

[2018-10-16 14:44] doxxx opened #45 "JS heap out of memory when using `gulp serve`"
When using `gulp serve --debug`, after some number of rebuilds due to file changes, the gulp process will crash with an out of memory error. I haven't counted how many rebuilds it takes but it's probably at least 10 or so. The callstack varies a lot.

[code]

[2018-10-16 16:24] wictorwilen commented on #45
I noticed this as well occasionally, but haven't found a good solution to it. I'll try get a closer look at it or if someone out there has some extra time over, feel free to chime in

[2018-10-16 17:46] doxxx commented on #45
I had a quick look at it using the Chrome dev tools to connect to the gulp node process and it looks like it might be a leak in ts-loader. I saw lots of duplicate strings containing what looked like generated Javascript, and the owner stack led back to ts-loader. If I have some more time later I can try digging deeper to determine where specifically this might be happening.

[2018-10-29 10:54] fristys opened #46 "Doesn't work on macOS"
This generator doesn't seem to work (no matter the parameters) on macOS, but works fine on Windows:
![image](https://user-images.githubusercontent.com/1486500/47645413-39a98b00-db71-11e8-8762-06ddb486db2d.png)

[code]

Edit: This problem persists on both the `@master` and `@preview` versions

[2018-11-01 23:28] cagdasdavulcu opened #48 "Adding sample unit tests in generator templates"
Hello Wictor,

Enhancement:
it would be a good idea to add sample unit tests in generator templates.

Best Regards,
Cagdas Davulcu

[2018-11-02 22:43] cagdasdavulcu commented on #46
Hello,

Which node and npm  versions are you using? I tried it on my mac and it worked:
<img width="752" alt="screen shot 2018-11-02 at 23 38 52" src="https://user-images.githubusercontent.com/1059729/47943953-07918380-def9-11e8-9091-9e18503b288c.png">

Node Version: 8.2.1
Npm Version: 6.3.0

Regards,
Cagdas

[2018-11-02 23:15] cagdasdavulcu commented on #15
@wictorwilen @billbliss:
is there still a need for adding a complex bot application option into teams generator? I would be interested in extending of the teams generator.

[2018-11-03 08:13] fristys commented on #46
The latest LTS (Node: 10.11; NPM: 6.4.1):
![image](https://user-images.githubusercontent.com/1486500/47949749-a0032480-df48-11e8-9d77-2d39f3139679.png)

Both your Node and NPM are fairly older versions. The latest (non LTS) version of node is 11

[2018-11-03 09:17] cagdasdavulcu commented on #46
You're right! i upgraded the node and i got the following exception:
internal/modules/cjs/loader.js:582
    throw err;
    ^
Error: Cannot find module 'typescript'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:580:15)
    at Function.Module._load (internal/modules/cjs/loader.js:506:25)
    at Module.require (internal/modules/cjs/loader.js:636:17)
    at require (internal/

[2018-11-05 08:21] wictorwilen commented on #46
Thanks @fristys for reporting this and @cagdasdavulcu  for helping out resolving it. @fristys  can you verify on your end that this is a viable resolution?

[2018-11-05 08:22] wictorwilen commented on #48
Agree! And feel free to contribute!

[2018-11-05 08:23] wictorwilen commented on #15
@cagdasdavulcu - yes, I do think so. Although, I would wait in putting to much effort into this until there is full support in teams for the latest botbuilder

[2018-12-15 11:06] CameronDwyer commented on #46
I ran into this issue as well, the particular dev machine I was on had:
node v8.12.0
npm 6.4.1

Just installing typescript globally was enough to get yo teams to work for me
npm install -g typescript

[2019-03-24 08:27] wictorwilen commented on #48
@cagdasdavulcu - please take a look at the new `2.7.0-preview` version that has some refactoring. If you want to stub out some initial unit tests, please do. I'd prefer using Jest for testing framework, thoughts?

[2019-03-24 08:28] wictorwilen commented on #46
Closing this as resolved. Feel free to open it again if the recommended solution does not work

[2019-03-24 08:28] #46 closed, assigned to nobody

[2019-03-24 08:29] wictorwilen commented on #25
Improved CI, using Travis is implemented in 2.7.0@preview

[2019-03-24 08:29] #25 closed, assigned to nobody

[2019-03-24 12:42] cagdasdavulcu commented on #48
@wictorwilen - i would also prefer to use Jest Framework.

I can provide the setup for Jest framework and one simple unit test for a specific project template to reduce merging efforts

After that we can extend the test samples with the following test types:
-> Mocking Sample
-> Snapshot Testing Sample (with react-test-renderer or enzyme - we can decide it together)

Please give me feedback if thi

[2019-03-25 05:58] wictorwilen commented on #48
@cagdasdavulcu go, go, go!

[2019-03-27 07:43] cagdasdavulcu opened #51 "Compile error on preview-2.7.0 - Dialogs cannot be resolved"
When i try to compile a bot project template without static tab on the preview-2.7.0 version with this command "npm run build", then i'm getting the following exception

Module not found: Error: Can't resolve './dialogs/HelpDialog' in 'path\to\file' resolve './dialogs/HelpDialog'

Module not found: Error: Can't resolve './dialogs/WelcomeDialog' in  'path\to\file' resolve './dialogs/WelcomeDialog'

[2019-03-27 07:57] cagdasdavulcu opened #53 "Ignoring of generators folder"
i would suggest, that we should ignore the generators folders in .git file and generate it via. build server, thereby we have less conflicts on pull requests. [Enhancement]

[2019-03-27 07:59] wictorwilen commented on #53
Was committed the other day in https://github.com/OfficeDev/generator-teams/commit/d83040b7896506a92e60b58770c9ee9c7db4e369

[2019-03-27 07:59] #53 closed, assigned to nobody

[2019-04-03 18:56] cagdasdavulcu commented on #53
![image](https://user-images.githubusercontent.com/1059729/55505165-cbeb1900-5652-11e9-8fe5-0d9c5d8a2fb0.png)

i'm seeing the generators folder in .gitignore file but these of files will not be ignored on windows

[2019-04-12 13:22] #51 closed, assigned to wictorwilen

[2019-04-12 13:22] wictorwilen commented on #15
The current scaffolded bot shows some details and more complexity

[2019-04-12 13:22] #15 closed, assigned to nobody

[2019-04-12 15:07] cagdasdavulcu opened #54 "Tab project cannot be compiled on 2.7.0-preview3"
TS2322: Type '{ theme: ThemeStyle; fontSize: number; }' is not assignable to type 'IntrinsicAttributes & IntrinsicClassAttributes<Test07Tab> & Readonly<ITest07TabProps> & Readonly<{ children?: ReactNode; }>'.
  Property 'theme' does not exist on type 'IntrinsicAttributes & IntrinsicClassAttributes<Test07Tab> & Readonly<ITest07TabProps> & Readonly<{ children?: ReactNode; }>'

[2019-04-12 15:09] cagdasdavulcu opened #55 "Message extension project cannot be created on 2.7.0-preview3"
i'm getting the exception, if i try to create a message extension:
- staticTab is not defined.

Related issue:
https://github.com/OfficeDev/generator-teams/issues/51

[2019-04-13 15:46] RalfBrennscheidt commented on #37
Hi!

for me it sadly doesn't work either:
-----------------------------------------
PS C:\Projects\TeamsDev> git push azure master
2019-04-12T14:18:30  Updating branch 'master'.
2019-04-12T14:18:31  Updating submodules.
2019-04-12T14:18:32  Preparing deployment for commit id 'ad19a7bc7d'.
2019-04-12T14:18:32  Running custom deployment command...
2019-04-12T14:18:32  Not setting execute permissions

[2019-04-14 12:43] cagdasdavulcu commented on #37
Hello @RalfBrennscheidt,

I could also reproduce the problem:
2019-04-12T14:18:32 /opt/Kudu/KuduConsole/Scripts/starter.sh: line 2: exec: deploy.cmd: not found
2019-04-12T14:18:32 /opt/Kudu/KuduConsole/Scripts/starter.sh: line 2: exec: deploy.cmd: not found

1. I think (not sure), that it should be a linux deployment (not windows).
2. Next topic is, that we should convert the deploy.cmd file from

[2019-04-14 13:01] RalfBrennscheidt commented on #37
Hello Sir,

as i wrote in my previous message (in the middle) i would be totally happy if the README.md would clearly instruct that the WebApp in Azure needs to be Windows based, then the world is shiny again.

I actually also solved the second issue i mentioned and the deployment works now totally fine (solution has a bot, tab and message extension.

As "pljfdi" stated it has to do with the node

[2019-04-14 13:58] cagdasdavulcu commented on #37
Thank you for the explanation! It is nice the know that it worked for you.

We would include the notes in readme file.

But i'm still a little bit confused :) I'm testing the Kudu Deployment option (directly pushing of source code from local to azure - not via. VSTS or GitHub)

I added the following parameter in package.json:
"engines": {
    "node": ">8.0.0"
}

And i set the variables "WEBSITE_NO

[2019-04-14 18:56] RalfBrennscheidt commented on #37
Okay, allow me to summarize how i got it working:

1.) Make sure the WebApp you create in Azure is "Windows" (not Linux).
2.) Do not change the package.json (leave it as it is, i tried the same as you and i ended up with the same error) - package.json settings overwrite any setting in the Azure WebApp!
3.) Add the two variables to the Application Settings in the Azure WebApp
4.) Configure continuo

[2019-04-14 20:12] cagdasdavulcu commented on #37
it worked! thank you very much! i will include this in the documentation.

[2019-04-15 08:09] wictorwilen commented on #37
From my experience the `engines` in `package.json` makes all sorts of things fail in Azure. Thanks all for helping sorting this one out. A new and fresh update will shortly be out.

[2019-04-15 09:03] wictorwilen commented on #55
Fixed in `2.7.0-preview4` (da75026f1944a500aa1b134f978a7564ca18a02e)

[2019-04-15 09:03] #55 closed, assigned to nobody

[2019-04-15 09:03] wictorwilen commented on #54
Fixed in `2.7.0-preview4` (da75026f1944a500aa1b134f978a7564ca18a02e). Thanks for reporting AND fixing!

[2019-04-15 09:03] #54 closed, assigned to nobody

[2019-04-15 09:04] wictorwilen commented on #37
Thanks all for the contributions. This is now merged in `2.7.0-preview4` (da75026f1944a500aa1b134f978a7564ca18a02e)  which now is published to npmjs.org

[2019-04-15 09:04] #37 closed, assigned to wictorwilen

[2019-04-15 20:13] RalfBrennscheidt opened #58 "Generated MessageExtension: non static host"
Hi,

shouldn't the generated MessageExtension rather use the HOSTNAME from the .env instead of a static one which is being asked during the generation ?

If you switch the host in .env when doing local testing or debugging with ngrok it still uses the static value you entered in the initial generation process.

File: /src/messageExtension/templates/src/app/{messageExtensionName}/{messageExtensionC

[2019-04-15 20:51] wictorwilen commented on #58
Good catch! Committed locally and will push soon, checking all other places as well.

[2019-04-15 22:15] wictorwilen commented on #58
Fixed in 25a9e9fcbebcb594aa47fdfc9cdf555c0b798696
Please install the latest preview package to verify it.
Thanks for reporting this and making #yoteams even better!

[2019-04-15 22:15] #58 closed, assigned to wictorwilen

[2019-04-17 21:54] wictorwilen opened #59 "Add Azure AD SSO support to Tabs"
**Is your feature request related to a problem? Please describe.**
Add Azure AD SSO support to Tabs

**Describe the solution you'd like**
A great SSO experience for end-users

[2019-04-18 06:40] wictorwilen opened #60 "Add AppInsights support"
**Is your feature request related to a problem? Please describe.**
Detailed statistics and monitoring of the solution would be a great addition

**Describe the solution you'd like**
Add support for specifying an AppInsights logging key

[2019-04-18 07:39] cagdasdavulcu commented on #48
We can categorize the tests as:
- Server-Side Tests
- Client-Side Tests (currently tests for client-side components of Tab Apps are supported)

Next steps:
- Analyzing the project types and find out, on which projects the client-side tests are needed and implement full test support for client-side components
- Analyzing project file structure for locating server-side tests
- Starting to support te

[2019-04-18 07:52] cagdasdavulcu opened #61 "yeoman-test for ensuring template generation"
generator-teams changes should be tested via. yeoman-test package for ensuring, that the the projects can be generated successfully. It should also included in build pipeline.

[2019-04-18 07:56] cagdasdavulcu opened #62 "Add a selection of schema version"
1.3
devPreview

[2019-04-18 08:38] wictorwilen opened #63 "Advanced configuration option"
**Is your feature request related to a problem? Please describe.**
Adding more and more functionality is going to make the generator even more complex and give the users a lot of questions. Adding an option to go to run using *advanced settings* could make this easier

**Describe the solution you'd like**
Add a a question as one of the initial questions that asks the user if they want to run advan

[2019-04-18 08:39] wictorwilen commented on #62
See #63

[2019-04-21 13:21] cagdasdavulcu commented on #62
@wictorwilen another feature idea: Manifest upgrade v1.3 -> devPreview

[2019-04-22 10:36] cagdasdavulcu commented on #48
From my point of view it makes sense to split some of react components (like connector compoenent) as presentational and container components for better unit testing support. But it is not a high priority task :)

[2019-04-22 14:57] cagdasdavulcu opened #65 "ReferenceError: global is not defined for 2.7-preview@1"
**Describe the bug**
I'm implementing server component tests for generator-teams via. supertest npm package. I implemented a sample test (you can find it here):
https://github.com/cagdasdavulcu/cd-test-05/blob/master/src/app/__tests__/Server.spec.ts

if i run the tests, then i'm getting an exception **ReferenceError: global is not defined** from the package 'express-msteams-host'.

You can use my

[2019-04-22 18:56] cagdasdavulcu opened #66 "Add support for ngrok in the build pipeline"
gulp ngrok-serve

[2019-04-22 19:17] cagdasdavulcu commented on #66
We can also design it to update messaging endpoint of bot channel registration via. gulp process and auto side loading of teams package in teams.

With current implementation are the following steps supported:
- run ngrok
- get url of ngrok tunnel
- extract host name from url
- set host name to process.env.HOSTNAME
- generate manifest file
------> FEATURE: as next we can side load it in teams - we

[2019-04-23 19:09] bhishma opened #67 "gulp manifest result in schema-validation error"
[15:07:06] 'schema-validation' errored after 21 s
[15:07:06] SyntaxError: Unexpected token u in JSON at position 0
    at JSON.parse (<anonymous>)
    at Request.request [as _callback] (D:\Source\Repos\cqwp\gulpfile.js:151:64)
    at self.callback (D:\Source\Repos\cqwp\node_modules\request\request.js:185:22)
    at Request.emit (events.js:189:13)
    at Request.EventEmitter.emit (domain.js:441:20)

[2019-04-23 19:25] cagdasdavulcu commented on #67
Hello @bhishma ,
can you please give us more information, thereby we can reproduce it? Did you change the manifest file manually? Can you also inform us, which node & npm version are you using?

[2019-04-23 20:29] wictorwilen commented on #67
@bhishma - as the schema validation downloads the JSON schema on each build this might happen if you either don't have access to internet or you have enterered an invalid schema URL. As @cagdasdavulcu says - please share the manifest file you have (`src/manifest/manifest.json`) and also which version of the generator you are using. From version *2.7.0* only schema `1.3` and `devPreview` are suppor

[2019-04-24 09:42] bhishma commented on #67
Thank you @wictorwilen  and @cagdasdavulcu . I was working behind corporate proxy. It must have blocked the the access. I am able to generate the manifest file with `gulp generate-manifest` and `gulp zip`

[2019-04-24 09:42] #67 closed, assigned to nobody

[2019-04-24 11:32] wictorwilen commented on #67
Thanks. Let's see how we can improve this going forward and catch the error and skip validation.

[2019-05-06 21:05] wictorwilen commented on #65
You can get around that issue by adding `window.global = window;` to the `test-shim.js` file. But that leads to further issues down the road. As the project is compiled with two different tsconfig files; one for the server side components (`tsconfig.json`) and one for the client side components (`tsconfig-client.json`).

[2019-05-06 21:24] cagdasdavulcu commented on #65
Thank you!

[2019-05-06 21:24] #65 closed, assigned to cagdasdavulcu, wictorwilen

[2019-05-08 05:54] wictorwilen commented on #62
Included in version 2.7.1 (7c45f921ef44af81a909295724a4dd387f4bc1e1)

[2019-05-08 05:54] #62 closed, assigned to wictorwilen

[2019-05-08 05:54] wictorwilen commented on #66
Included in version 2.7.1 (7c45f921ef44af81a909295724a4dd387f4bc1e1)

[2019-05-08 05:54] #66 closed, assigned to nobody

[2019-05-08 05:54] wictorwilen commented on #60
Included in version 2.7.1 (7c45f921ef44af81a909295724a4dd387f4bc1e1)

[2019-05-08 05:54] #60 closed, assigned to nobody

[2019-05-08 05:55] wictorwilen commented on #24
Documentation is now added into the Wiki

[2019-05-08 05:55] wictorwilen commented on #61
Initial tests included in version 2.7.1 (7c45f921ef44af81a909295724a4dd387f4bc1e1)

[2019-05-08 05:55] #61 closed, assigned to nobody

[2019-05-08 10:11] wictorwilen opened #70 "Message extensions fails when the name starts with a number"
**Describe the bug**
When creating a messaging extension that has a name that starts with a number the generator fails with the following exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a new project
2. Choose a message extension
3. Give the name to the message extension something that starts with a number (for example `111 Test`
4. Now it will fail when writing f

[2019-05-08 11:52] wictorwilen opened #71 "Message Extension Actions feature request"
**Is your feature request related to a problem? Please describe.**
Full support for Messaging Extension actions as defined in https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/messaging-extensions/create-extensions

**Describe the solution you'd like**
When creating a Messaging Extension I would like to be asked to create an action based one (including the different options for it)

[2019-05-16 13:05] wictorwilen opened #72 "An option to add a SharePoint Framework Web Part as a Tab"
**Describe the solution you'd like**
I would like to have the option to specify a SharePoint Framework web part as an alternate option for a tab (or as a new tab option)

[2019-05-16 13:14] wictorwilen opened #73 "An upgrade "core files" option"
**Is your feature request related to a problem? Please describe.**
Upgrading a project to a new version works, however that does not upgrade the core files, such as all the npm packages and the gulpfile.js

**Describe the solution you'd like**
Add an option, where you could run an "Upgrade solution" in the generator to get the latest versions of all dependencies.

[2019-05-20 06:26] wictorwilen opened #74 "Support for manifest version 1.5"
Add support for Microsoft Teams manifest schema version 1.5

[2019-05-20 07:14] wictorwilen opened #75 "Add support for Message Handlers"
**Describe the solution you'd like**
Add a new generator with support for message handlers, as specified in schema 1.5 and later.

[2019-05-20 07:20] wictorwilen opened #76 "Add support for localization"
**Describe the solution you'd like**
I'd like to see a sub-generator for localization (schema 1.5+) that generates the `localizationInfo` object in the manifest. This generator should also be able to be invoked multiple times, to add additional language files.
Also, not that any updates to the main manifest needs to be replicated to the localized manifest versions.
Also, the packaging must ensure

[2019-05-20 15:25] wictorwilen commented on #72
Added in 2.8.0

[2019-05-20 15:25] #72 closed, assigned to wictorwilen

[2019-05-20 15:26] wictorwilen commented on #71
Added in 2.8.0

[2019-05-20 15:26] #71 closed, assigned to wictorwilen

[2019-05-20 15:28] wictorwilen commented on #70
Fixed in 2.8.0 (cfe6bc363b5944a4d90719efa2dd5a2b04692c42)

[2019-05-20 15:28] #70 closed, assigned to wictorwilen

[2019-05-27 21:12] s2schristian opened #77 "Add support for sass"
**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2019-06-10 09:59] StfBauer commented on #45
It has nothing to do with a leak in the ts-loader. The issue comes from NodeJS 8 where they introduced really low memory cap 1.4GB per NodeJS process. The only option to get around this limitation is to start `gulp server` using the following command.

[code]

This will set the appropriate Node flag to use a max of 8Gb or whatever value you pass in.

![Screenshot 2019-06-10 at 11 56 25](https://us

[2019-06-14 10:46] wictorwilen commented on #77
SASS support is now available in 2.9.0

[2019-06-14 10:46] #77 closed, assigned to nobody

[2019-06-14 10:47] wictorwilen commented on #74
Support for schema 1.5 is now in 2.9.0

[2019-06-14 10:47] #74 closed, assigned to wictorwilen

[2019-06-14 10:47] wictorwilen commented on #75
Improved support for this in 2.9.0

[2019-06-14 10:47] #75 closed, assigned to nobody

[2019-06-17 07:28] bastianjohn opened #79 "Missing Binding when using different npm versions (32bit / 64bit)"
**Describe the bug**
Using Azure DevOps to deploy the app to a windows azure Site i am getting the following error:
`Error: Missing binding D:\local\Temp\zipdeploy\extracted\node_modules\node-sass\vendor\win32-ia32-57\binding.node Node Sass could not find a binding for your current environment: Windows 32-bit with Node.js 8.x Found bindings for the following environments: Windows 64-bit with Node.

[2019-06-17 07:32] wictorwilen commented on #79
Thanks for reporting. We'll take a look at this and I'll try to reproduce the issue.

Ping @StfBauer - seems related to the SASS pieces, you've seen this before?

[2019-06-17 07:33] wictorwilen commented on #24
Closing this one, as we will always need more docs :-)

[2019-06-17 07:33] #24 closed, assigned to nobody

[2019-06-17 10:37] StfBauer commented on #79
I run the project on Windows using the 32-bit option and it was running without any problem. It seems to be related to this [stack overflow thread](https://stackoverflow.com/questions/37986800/node-sass-could-not-find-a-binding-for-your-current-environment?page=1&tab=oldest#tab-top).

32bit NodeJS architecture is limited to Windows only and it is unsure how long this will be supported in future. F

[2019-06-17 10:55] bastianjohn commented on #79
Hi @StfBauer
thanks for your reply. Thats the thread i used to get a workaround on my machine (nodejs 32bit). The problem is that the deploy mechanism in the windows azure site is limited to 32bit nodejs and the build agent is 64bit only (i would also rather like to use 64 bit).

So here are some Screenshots of the Build:
![image](https://user-images.githubusercontent.com/12729982/59599245-5e51738

[2019-06-17 10:58] wictorwilen commented on #79
What if you add `npm rebuild node-sass` as a step before `gulp build`?

[2019-06-17 11:06] bastianjohn commented on #79
Unfortunately the same error, i've tried this before. Because the npm install and build happens on the agent directly (64bit). When it comes to deploying and hosting the app via the app service deploy task (with zip deploy) it runs it on the app service in azure which seems to run 32bit nodejs during the deploy.cmd command.

[2019-06-17 11:14] wictorwilen commented on #79
What if you try to download the correct binding file from: https://github.com/sass/node-sass/releases/ as described in here https://github.com/sass/node-sass/issues/2133?

[2019-06-17 13:20] StfBauer commented on #79
@bastianjohn Have you tried to update the Plattform Settings to 64bit on Azure? The default setting is 32bit for some strange reason.

<img width="950" alt="Screenshot 2019-06-17 at 15 16 28" src="https://user-images.githubusercontent.com/5503835/59607178-21dc4280-9113-11e9-88be-a7e1beeac189.png">

Might solve your problem.

[2019-06-17 13:31] bastianjohn commented on #79
@StfBauer i've tried this one at the very beginning. Unfortunately this has no effect. I've read in the limitations in azure that the app service has 32bit node.js only.

@wictorwilen this should work. I just thought there would be a better way, but i will give it a try!

Thanks!

[2019-06-17 13:38] StfBauer commented on #79
Thanks, @bastianjohn for the heads-up, but I doubt that limitation exists. Need to try it out.

[2019-06-17 16:23] StfBauer commented on #79
After playing around with an existing web app. I figured out that there are both versions of NodeJS installed on the Windows Web site. To fully use the 64bit version I changed the environmental variable. with the following code in the Kudu Powershell:

[code]

I updated only the references for NodeJS and the change for that is not persistent. After messing around the complete web application it wa

[2019-06-18 06:37] bastianjohn commented on #79
Thank you very much for trying and for the explanations @StfBauer!
So i have to use a linux app service. How do i deploy my app to a service like this? Do i have to make any changes? Do you happen to have an example for that case?

Thanks!

[2019-06-19 09:21] bastianjohn commented on #79
I've tried copying the binding file and this is working. I stored the missing file in the code and used gulp to copy it.

I did it with the following gulpline:
[code]

Shall i close the issue?

[2019-06-19 14:27] StfBauer commented on #79
HI @bastianjohn, thank you for the update.

Well, it seems you deployment environment misses some essential pieces of NodeJS. In addition to NodeJS, you also need to have install `[node-gyp](https://github.com/nodejs/node-gyp)` which in most cases is directly installed with NodeJS. To make `node-gyp` running, you also need some additional components.

To be more specific a C++ and Python compiler.

[2019-06-20 15:03] KbWorks opened #80 "Unable to create messageextention"
**Describe the bug**
Creating a new message extention with a new bot stops reacting when you have to select new bot or existing bot. Seems there is no args catch

**To Reproduce**
Steps to reproduce the behavior:
yo teams
choose message extention
![image](https://user-images.githubusercontent.com/14150615/59859481-0b392400-937d-11e9-872b-c378e0219490.png)

create a bot..

 - Generator version: 2.9

[2019-06-20 19:55] StfBauer commented on #80
@KbWorks what yo version are you using? Seems like there is an [issue with the inquirer](https://github.com/SBoudrias/Inquirer.js/issues/811) package yeoman in version 2.x.x.

To solve this issue downgrade to yo version 1.8.5, the latest that use an older inquirer version.

[code]

[2019-06-20 19:58] wictorwilen commented on #80
I think I've seen that on node 10. Try with node 8 and see what happens.

(There's also several issues related to Yeoman testing with node 10)

[2019-06-26 10:03] wictorwilen commented on #80
@KbWorks - I'm unable to replicate this using Windows 10 and node 10.16.0

[2019-06-27 05:17] StfBauer commented on #80
Like I mentioned before there was a bug with the inquirer package for 24 hours.

[2019-06-27 06:40] wictorwilen commented on #80
@KbWorks - have you had a chance to try @StfBauer suggestion?

[2019-06-30 11:07] bastianjohn commented on #79
Thanks for your help. I will give it a try. I am on holiday the next 2 weeks so it takes a while.

[2019-08-03 19:35] StfBauer commented on #79
@bastianjohn Have you tried meanwhile my previous suggestion?

[2019-08-06 12:08] wictorwilen commented on #73
Implemented in `2.11.0`

[2019-08-06 12:08] #73 closed, assigned to nobody

[2019-08-06 12:08] wictorwilen commented on #76
Implemented in `2.11.0`

[2019-08-06 12:08] #76 closed, assigned to nobody

[2019-08-14 10:21] CameronDwyer opened #81 "Gulp manifest fails using manifest schema 1.5 fails validation"
**Describe the bug**
Gulp manifest using schema 1.5 fails validation

The generated manifest has an empty "localizationInfo": {}
This requires a defaultLanaguageTag

**To Reproduce**
Generate project selecting manifest schema 1.5
Run Gulp manifest

**Expected behavior**
Gulp manifest command to succeed and the generated manifest.json to pass validation

**Detailed information**
 - Generator versio

[2019-08-14 10:27] wictorwilen commented on #81
Thanks for reporting. Thought that was fixed in the released version (`2.11.0`), the bug existed in the preview. Will verify and get back shortly. Meanwhile, all you need to do is to remove the `localizationInfo` node in the json file

[2019-08-14 10:28] wictorwilen commented on #80
Closing this one, due to lack of response/feedback. Feel free to open again if the issue happens again

[2019-08-14 10:28] #80 closed, assigned to nobody

[2019-08-14 10:30] CameronDwyer commented on #81
Thanks - wasn't a blocker just wanted to report it.

[2019-08-14 11:43] wictorwilen commented on #45
Closing this as resolved both since the build pipeline is rebuilt and the solution provided by @StfBauer  above

[2019-08-14 11:43] #45 closed, assigned to nobody

[2019-08-14 11:50] wictorwilen commented on #81
Found the issue. Working on a quick fix and adding it to the test suite

[2019-08-14 12:13] #81 closed, assigned to wictorwilen

[2019-08-14 12:14] wictorwilen commented on #81
`2.11.1` - available soon through npm will solve the issue going forward

[2019-08-14 12:15] CameronDwyer commented on #81
Wow, that was an incredibly quick fix :-)

[2019-09-12 05:33] uioporqwerty opened #82 "How to debug an msteams bot?"
I followed the instructions in the readme for setting up debugging for a bot and my launch.json looks like this.

[code]

If I run `gulp serve --debug` then I am not able to start a debugging session and it stops immediately. I noticed the gulp serve command said the debugger was listening on port 9229 and if I switch to that port number then I am able to attach but it says that all breakpoints ar

[2019-09-12 06:39] uioporqwerty commented on #82
Solved. I used this to get some insight into node debugging: https://code.visualstudio.com/docs/nodejs/nodejs-debugging

My final configuration looks like this after removing the remoteRoot entry:

[code]

[2019-09-12 06:39] #82 closed, assigned to nobody

[2019-09-12 11:25] wictorwilen commented on #82
Thanks @uioporqwerty - glad you sorted it out

[2019-09-13 13:48] webdes03 opened #83 "Request: Provide sample ARM templates for deploying Web App"
**Is your feature request related to a problem? Please describe.**
Unable to create Azure Web App with "blank" stack setting/correct Node version via ARM.

**Describe the solution you'd like**
Provide sample ARM script for creating Web App as part of the generator documentation.

**Describe alternatives you've considered**
Manually provisioning the app seems to be the only option, even basing a ne

[2019-09-15 07:19] wictorwilen commented on #83
Thanks. This would be a great idea.

[2019-09-19 19:57] wictorwilen opened #84 "Move UX to fluent-ui"
**Describe the solution you'd like**
Move the current React UX to ~~`stardust-ui`~~ `fluentui/react` component

[2019-09-23 17:56] arujindal123 opened #85 "Getting error Missing required property: defaultLanguageTag"
**Describe the bug**
I have created a Teams App and trying to run gulp ngrok-serve command.
This is giving error as shown below:
![image](https://user-images.githubusercontent.com/17233483/65449794-50c42c00-de59-11e9-92d3-f8fcb23950e6.png)

[23:13:30] Starting 'ngrok-serve'...
[23:13:30] Starting 'start-ngrok'...
[23:13:30] [NGROK] starting ngrok...
[23:13:36] [NGROK] Url: https://4dfe1e9f.ngrok.i

[2019-09-23 18:09] wictorwilen commented on #85
This is a normal error and will happen by design if you have an *invalid schema*. like you have the `localizationInfo` set in your `manifest.json` without the `defaultLanguageTag`.

1) What version of the generator do you have now?
2) What version of the generator was used to create the project, if it was different than the one now?

[2019-09-23 18:23] arujindal123 commented on #85
I am using 2.11.1 and it is the same version on which project was created.

[2019-09-23 18:37] arujindal123 commented on #85
Removed localizationinfo since dont need localization in App and now its working. Thanks.

[2019-09-23 18:37] wictorwilen commented on #85
Please share your `manifest.json`. DId you run the generator multiple versions? Did you select to use localization/translations?

[2019-09-23 21:10] jsuddsjr opened #86 "Plumber package depends on minimatch and lodash versions with vulnerabilities"
**Describe the bug**
Out of the box, the generator should not install packages with known vulnerabilities.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Teams app using default settings.

**Expected behavior**
No vulnerabilities.

**Screenshots**

                       === npm audit security report ===

                                 Manual Review
             Some vulnerab

[2019-09-23 21:36] wictorwilen commented on #86
Please upgrade to version 2.11.1 of the generator and report back with similar issues.

[2019-09-23 21:56] jsuddsjr opened #87 "React componentWillMount deprecated"
**Describe the bug**
Running tests produces a warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Create default site with generator.
2. npm run tests

**Expected behavior**
Tests pass without warnings.

**Screenshots**

      Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

      * Move c

[2019-09-23 22:19] jsuddsjr opened #88 "All IMG tags must have alt text"
**Describe the bug**
Generated HTML files are not passing webhint inspections.
* The HTML tag must have lang attribute
* IMG tags must have alt attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate default app.
2. Open any HTML file (such as index.html, privacy.html, or tou.html).

**Expected behavior**
Examples should demonstrate best coding and accessibility practices.

**Scr

[2019-09-23 22:29] jsuddsjr commented on #86
That's the version I'm using. I'm sorry I didn't fill in those fields in the trouble report. For some reason, I thought they were already filled in. <facepalm>

**Detailed information**

Generator version: 2.11.1
OS: Windows 10
Node version: 12.9.0
Npm version: 6.11.3

[2019-09-23 22:29] jsuddsjr commented on #88
**Detailed information**

Generator version: 2.11.1
OS: Windows 10
Node version: 12.9.0
Npm version: 6.11.3

[2019-09-23 22:29] jsuddsjr commented on #87
**Detailed information**

Generator version: 2.11.1
OS: Windows 10
Node version: 12.9.0
Npm version: 6.11.3

[2019-09-24 04:54] arujindal123 commented on #85
I created new Teams App with below configuration
![image](https://user-images.githubusercontent.com/17233483/65482020-4d5e8e00-deb5-11e9-9b9b-aa569c643821.png)

Once it's created run gulp ngrok-serve and got below error:
![image](https://user-images.githubusercontent.com/17233483/65482054-623b2180-deb5-11e9-8de6-7582fa4b476d.png)

manifest.json

{
  "$schema": "https://developer.microsoft.com/en-u

[2019-09-24 05:27] wictorwilen commented on #85
As you can see in the screenshot,  you are running `2.11.0-preview` and not `2.11.1` where this is fixed (see #81)

[2019-09-24 05:27] #85 closed, assigned to nobody

[2019-09-24 05:32] wictorwilen commented on #86
The project is using `plumber@0.4.8` which is the latest version of this package, so there's no way of getting rid of these warnings unless we switch that tooling (or the have the publisher of the package publish an updated version). Also, this package is only used during the build process and will not be part of the bundled solution.

With this in mind, it`s currently a tolerable solution and tho

[2019-09-24 05:36] wictorwilen commented on #87
This is a known state of React. React 16 still supports `componentWillMount` and it will be deprecated in React 17. This will be addressed in future versions of the generator.

[2019-09-24 05:37] wictorwilen commented on #88
Thanks for reporting this.

[2019-09-24 05:38] wictorwilen commented on #79
Closing this due to lack of response. Please feel free to open again.

[2019-09-24 05:38] #79 closed, assigned to nobody

[2019-11-17 16:06] abhixkj opened #89 "Request for Botbuilder v 4.6.0 with teams app"
Current generator provides bots with v 4.4.0 which is outdated now. MS has all documentation related to botbuilder sdk v 4.6 and above.

It would be nice to have generator with bots using botbuilder framework 4.6.0 and above, along with documentations on how to host the bot generated by generator-teams to azure portal.

[2019-11-18 07:36] wictorwilen commented on #89
@abhixkj - yup, this one is in the works!

[2019-11-19 14:36] kunalkankariya commented on #89
Does this also mean that we will do away with botbuilder-teams package and move to the botbuilder core SDK 4.6?

[2019-11-19 16:08] wictorwilen commented on #89
@kunalkankariya - Yes, botbuilder 4.6 also means the deprecation of `botbuilder-teams` (which never left the beta stage). Existing solutions will still work and I'll ensure we have a nice upgrade guide in the Yo Teams wiki for this  (ie we will not build any automatic upgrade of your code)

[2019-11-29 06:39] Alexp2019 opened #90 "Unable to debug app through VSCode"
Experiencing issues debugging and using breakpoints within VSCode.

I've ran gulp serve --debug
and then added the following snippet (from the readme) and swapped the port to match.
[code]

The debugger attaches successfully, but the breakpoints are greyed out with the following message:
"Breakpoint ignored because generated code not found (source map problem)?

I saw a similar issue posted here w

[2019-11-29 10:29] wictorwilen commented on #90
the `.tsx` files are transpiled into client side JavaScript, so you can't use node.js debugging (`type=node`, `request=attach`) as your configuration. Change as follows (depending on your browser):

[code]

[2019-12-01 23:55] Alexp2019 commented on #90
Thanks for the response - I have tried adding the config but experiencing the below:

Debugger listening on ws://127.0.0.1:9229/ea9e23a0-b25b-4512-80ea-7967e954451f
Using:
[code]

[code]

edit: I can now attach the debugger, but I'm receiving the '"Breakpoint ignored because generated code not found (source map problem)' error.
logs:
[code]

I can see all interactions via the debug console, i.e. b

[2019-12-02 05:59] wictorwilen commented on #90
As you're trying to debug your client side code, inside Microsoft Teams, you're trying to debug something in an Iframe. This does unfortunately not work (see https://github.com/Microsoft/vscode-chrome-debug/issues/786).

What I do is that use the webpack info and devtools in Chrome/Chredge and debug within the browser. Very easy to set up. Just navigate to the iframe of your app, and locate the we

[2019-12-02 06:34] Alexp2019 commented on #90
Thanks for the reply,
I'm using chrome and just browsing to the site directly and the Chrome Debugger extension for vscode, do you have any screenshots of how you're doing the debugging, and are you able to set breakpoints?
Thanks :)

[2020-01-15 03:09] gabrieldeal opened #92 "Generated webpack.config.js does not exclude node modules with slashes in their names"
**Describe the bug**
The `webpack.config.js` generated by the template does not exclude packages in `node_modules` if the package's name contains a forward slash (e.g., `@google-cloud/firestore`).  This breaks `__dirname` and `__filename` for these packages.

In my project, I fixed this by replacing the `fs.readdirSync('node_modules') ` code in `webpack.config.js` with https://www.npmjs.com/packag

[2020-01-31 16:12] andrewconnell opened #93 "Update package.json to segment out dev dependencies"
**Is your feature request related to a problem? Please describe.**

No problem, but currently all dependencies are installed in a production environment. This isn't necessary as it includes all dev/build dependencies in production.

**Describe the solution you'd like**

Leverage both `dependencies` & `devDependencies` in the **package.json**

**Describe alternatives you've considered**

Flux capac

[2020-02-03 13:28] ghost opened #94 "Blank page when installing demo app generated using yo teams."
Just generated configurable tab demo application without any customization applied. After installing it to teams web aplication got blank popup.
![blank_page](https://user-images.githubusercontent.com/45337095/73656497-e8a01500-4698-11ea-8857-e8d0124e1055.png)

Inspecting network request show xhr error:
![bad_request](https://user-images.githubusercontent.com/45337095/73656521-fa81b800-4698-11ea-9

[2020-02-03 14:43] andrewconnell opened #96 "Upgrade Teams JS SDK => 1.6.*"
**Is your feature request related to a problem? Please describe.**

Microsoft Teams shipped a new SDK v1.6. Currently, you have to upgrade the project's dependency after scaffolding it with yeoman.

**Describe the solution you'd like**

Default project references latest Teams JS SDK.

**Describe alternatives you've considered**

n/a

*Feel free to assign this to me*

[2020-02-03 14:48] andrewconnell opened #97 "Upgrade usage of AppInsights (server & client)"
**Is your feature request related to a problem? Please describe.**

Not a problem - current implementation of Application Insights uses an updated version of the Node.JS library. In addition, there's no default usage for any of the web components (*which are now in a different library*).

**Describe the solution you'd like**

- Upgrade the server AppInsights usage to leverage the updated package.

[2020-02-03 14:53] andrewconnell commented on #94
@egklt said:

Which version? The generator isn't v3. Maybe you listed the version of Yeoman you have installed? What's important is to list the version of the **generator-teams** package.

Also, would help if you could share the URL that triggered the bad request. Look at the **headers** tab in your screenshot... & please provide the complete URL & headers.

[2020-02-04 20:24] wictorwilen commented on #94
@egklt - the JavaScript error looks like one of the standard Teams errors. Can you please share a screenshot of the console/log of your application, so we know that we get incoming requests to your tab page?

[2020-02-04 20:26] wictorwilen commented on #92
Thanks for reporting, we will look into this.

[2020-02-04 20:28] wictorwilen commented on #96
Good request. I'd like to take a look at not only update the versioning but also how we do page tracking (right now, directly in the HTML files)

[2020-02-04 20:46] andrewconnell commented on #96
Page tracking, as in AppInsights? Submitted that as a sperate issue (#97). That's something I was going to address in my if you want me to take that as well.

[2020-02-05 02:03] wictorwilen commented on #89
FYI: We're currently updating and testing the required dependencies to get this to work smoothly, so expect an update on this topic shortly.

[2020-02-05 13:49] wictorwilen commented on #96
@andrewconnell  - you're correct, that comment belonged on #97

[2020-02-14 11:49] andrewconnell opened #99 "Incorporate CI/CD in options in project build + docs"
**Is your feature request related to a problem? Please describe.**

Today the generator assumes you want to deploy the project to an Azure web app using the included **.deployment** file. This doesn't account for other deployment options (to other platforms or using Azure DevOps).

**Describe the solution you'd like**

Option in the generator to prompt "do you to deploy to Azure web apps?" or "do

[2020-02-14 11:58] andrewconnell opened #100 "New project refactoring | code organization"
**Is your feature request related to a problem? Please describe.**

As discussed in our FEB13,2020 meeting, we'd like to optimize/improve the project organization. This issue serves to track the discussion...

I'll propose a new project structure for review

*Feel free to assign to me*

[2020-02-17 08:41] wictorwilen commented on #96
Merged in #98 (2.12.0-preview2)

[2020-02-17 08:41] #96 closed, assigned to nobody

[2020-02-17 08:41] #93 closed, assigned to andrewconnell

[2020-02-17 08:42] wictorwilen commented on #89
4.7 is now used in the latest preview version (2.12)

[2020-02-17 08:42] #89 closed, assigned to wictorwilen

[2020-02-17 08:42] wictorwilen commented on #84
FluentUI is now implemented in the latest preview (2.12.0-preview2)

[2020-02-17 08:42] #84 closed, assigned to wictorwilen

[2020-02-17 13:12] pschaeflein opened #101 "Update to Adaptive Card 1.2"
Teams now supports v1.2 of Adaptive Cards.

The generated messaging extension should be updated to use the 1.2 schema

[2020-02-20 11:02] paddotk opened #102 "Wrong TS errors; breaking compilation"
**Describe the bug**
When trying to run the app (locally), it fails when there are typescript errors:
[code]
...
[code]

The problem here however is that:
1) There is nothing wrong with my code, also type-wise. This might be an issue with the npm package for which these errors are given, but whether the linter gives false errors or not, it should not break compilation of the app.
2) The later two

[2020-02-20 11:14] wictorwilen commented on #102
Thanks @paddotk  for reaching out. I'd like some clarifications

Please share the actual code you've written. And can you verify that a generated vanilla project (a project without any customizations) compiles fine?

Preview version, or release version?

If this is _not_ the preview version and you installed `@fluentui` did you install/uninstall any other npm packages?

A linter does not compile y

[2020-02-24 11:43] wictorwilen commented on #100
I'd recommend we look at how the Bot Fx generator creates deployment folders etc: https://github.com/Microsoft/BotBuilder-Samples/tree/master/generators/generator-botbuilder

[2020-02-26 10:34] paddotk commented on #102
Hi,
I'm using the release version. No other npm packages were added or removed.

I setup a project (with just 'tab' as an option in the CLI), then added some code to the following file:
`src\app\scripts\yoteamsTestTab\YoteamsTestTab.tsx`

This file now looks like this. The parts between double asterisks are the bits of code I added (the rest is generated code):
[code]
**
[code]
**
[code]
**
[code]

[2020-02-26 13:04] wictorwilen commented on #102
You say you are using the release version, have not added any npm packages, but you are referencing `@fluentui/react`? That doesn't make sense, since that package is only used in the latest preview and is a feature we're working on (#84), and you will get compatibility issues between dependencies due to this. If you want to use **fluentui** then use the latest preview version, otherwise resort to

[2020-02-27 08:39] paddotk commented on #102
I meant other than _fluentui_, since I mentioned that in my first post. Sorry if that wasn't clear.

Thanks for the tip, I'll try the preview version. Do you have any rough indication of when the current preview version will become a release version?

[2020-02-27 08:44] wictorwilen commented on #102
Any day now! 🤞

[2020-02-27 19:30] paddotk commented on #102
@wictorwilen I've tried the preview version; I can run now the app but it does have an issue with the `@fluentui/react` lib, when I go to the generated tab page.

I also have a create-react-app application with fluentui which doesn't have this issue, so just in case it does have something to do with generator-teams, I'll post it here:

`Cannot read property 'telemetry' of undefined`
[code]
in `nod

[2020-03-05 10:23] wictorwilen opened #104 "Remove usage of the request module as its been deprecated"
**Is your feature request related to a problem? Please describe.**
The `request` npm module is deprecated

**Describe the solution you'd like**
Replace with modern alternative

**Describe alternatives you've considered**
`@azure/ms-rest-js` or `axios`

[2020-03-05 10:33] paddotk commented on #102
Tried another project the same way, this time it works. Not sure why..

[2020-03-05 10:40] andrewconnell commented on #104
I'd vote for axios... its more widely used by a factor of 4000x & is 20% the size of the MS option.

[2020-03-05 11:25] wictorwilen commented on #102
@paddotk  - thanks for reporting back. I'll close this for now. If it happens again, feel free to re-open it.

[2020-03-05 11:25] #102 closed, assigned to nobody

[2020-03-05 14:10] wictorwilen opened #105 "Use a templating system for html pages"
**Is your feature request related to a problem? Please describe.**
Currently static html pages are used for rendering the tabs and pages. Some things get's hardcoded in those such as application insights, CSS etc. To update that you need to modify *n* similar html files.

**Describe the solution you'd like**
Implement some kind of templating system so there is a *master* html page

**Describe alte

[2020-03-05 14:59] andrewconnell commented on #105
LOVE this idea... maybe may it an option in the generator though instead of forced? If someone isn't familiar with handlebars (or whatever else is chosen), it would require they learn it. Making it optional, even if default=yes, would avoid the forcing function.

Maybe merge with #100?

[2020-03-05 15:24] wictorwilen commented on #105
Yes, let's discuss a decent approach. It could also make sense to have this with the more modular build pipeline discussed in the gitter conversation, allowing us to make template plugins?

[2020-03-05 23:35] pschaeflein opened #106 "Unnecessary fontSize code in generated tab"
In the tsx file for a generated tab, the `componentWillMount()` method contains the following code that is unnecessary:

[code]

[2020-03-06 06:25] wictorwilen commented on #106
Thanks @pschaeflein, seems like a left over from the previous UX controls.

[2020-03-06 09:09] wictorwilen opened #107 "New flexible build system"
**Is your feature request related to a problem? Please describe.**
Currently the scaffolded project contains more or less hard coded Gulp tasks (in the `gulfile.js`). Updates or bug fixes to these are impossible to push out to already generated projects, unless we can force users to upgrade them through the generator - which also is a hard thing to do, if someone for instance has modified their gu

[2020-03-06 12:26] wictorwilen commented on #100
Suggestion: what if we reorganized the repo in such way that it has the following foundational structure:
- `/` - readme etc
- `/docs` - documentation
- `/packages` - the actual package(s) used by the generator (see #107)
- `/packages/generator-teams` - the actual generator

[2020-03-08 21:57] cagdasdavulcu commented on #48
@wictorwilen can you please move this task to V3? Because of the dependence to refactoring for the V3, i wouldn't invest time for this task.

[2020-03-08 21:59] cagdasdavulcu commented on #24
It would be great if we can document the SharePoint Tab Configuration :)

[2020-03-08 22:02] cagdasdavulcu commented on #59
@wictorwilen will this feature be based on this documentation or do you have any other idea?
https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authentication/auth-aad-sso

[2020-03-08 22:26] cagdasdavulcu opened #109 "Categorisation of questions for project creation"
As you can see in the screenshot, there is a few questions to be answered. Sometimes is it not transparent which question is for which component:
<img width="1081" alt="Screen Shot 2020-03-08 at 23 20 05" src="https://user-images.githubusercontent.com/1059729/76172180-7046db00-6193-11ea-9070-bfeab2377e4b.png">

Do you think, that can improve the usability of the generator?

[2020-03-09 07:20] wictorwilen commented on #109
This is a good idea. The questions are in order, based on the set of components you choose to add, but it could be more clearly explained.

[2020-03-09 07:25] wictorwilen commented on #59
@cagdasdavulcu - yes, that is what we should implement

[2020-03-09 07:27] wictorwilen commented on #24
@cagdasdavulcu - like this? https://github.com/pnp/generator-teams/wiki/Build-a-SharePoint-Online-Provider-Hosted-Web-Part

[2020-03-10 20:19] cagdasdavulcu commented on #24
@wictorwilen yes. The property tabSharePoint was unclear during the implementing integration tests, how to use the property. thank you!

[2020-03-19 15:50] pschaeflein opened #111 "[Discussion] .Net cli template for Teams"
Do you have a need for a .Net cli template? Feel free to reply or react.

[2020-03-19 16:01] Leif-Frederiksen opened #112 "Use Functional Components"
Since I switched to functional React components and hooks, I really don't ever want to look back to the old-school class based components.

I would like to have the default scaffolded code to be functional instead of class based.

[2020-03-22 09:35] AhmadiRamin commented on #59
Hi Guys,

I'm getting this error when I try to run the project using ngrok-serve:

An SSO error occurred App resource defined in manifest and iframe origin do not match

is it related to this?

I couldn't find any documentation regarding the ngrock parameters in env file, should I leave them blank? how does it work?

[Here](https://docs.microsoft.com/en-us/microsoftteams/platform/tabs/how-to/authe

[2020-03-23 15:08] wictorwilen commented on #59
@AhmadiRamin - since you're using `ngrok-serve` you need to configure your app-uri to match that ngrok address.

[2020-03-25 14:22] wictorwilen commented on #104
See https://github.com/pnp/generator-teams/commit/1826a5cb80ffc420d582b07e3f2ade0ba7b429fd

[2020-03-25 14:24] wictorwilen commented on #106
See https://github.com/pnp/generator-teams/commit/093b4162e078ee2be238ba0721254ce05599b60e

[2020-03-25 15:07] mdreier commented on #79
I was able to fix this issue by adding the command to rebuild node-sass into the `deploy.cmd` file. My deployment is happening via Github Actions, but it may also work for different workflows. This is the command I added, between the `npm install` and the `npm build`:

[code]

You can see the complete `deploy.cmd`of my project [here](https://github.com/mdreier/ds-roll-bot/blob/master/deploy.cmd).

[2020-03-25 15:09] wictorwilen commented on #79
Thanks @mdreier !

[2020-03-25 18:24] paddotk opened #113 "gulp startup breaks because it doesn't understand css?"
**Describe the bug**
When I'm using any css in any .css (or .scss) file, I can't startup my project. Basically it looks like it (gulp?) doesn't understand how to parse those files.
It gives me errors like this:

[code]
(This doesn't just apply to asterisks)

Then at the end I see
[code]
and it stops.

I must be doing something wrong, but I've no clue what it is. Any ideas?

**Detailed information*

[2020-03-25 22:07] StfBauer commented on #105
The easiest way to get this is to use [gulp-file-include](https://github.com/haoxins/gulp-file-include#readme)

[code]

[2020-03-25 23:49] StfBauer commented on #107
It's a great idea but the complexity of this solution is not really useful. There is an easier option available that prolongs to the current generator too.

## Smaller build packages

One of the build packages could be simply defined as this:

[code]

Alternatively, those could also be exported like this:

[code]

## Central gulp file that just controls the flow

The `gulpfile.js` only then needs

[2020-03-26 06:26] wictorwilen commented on #107
Thanks for the input @StfBauer. What you suggest is a nice a good looking cleanup of the existing gulp file into multiple files and does not fulfill all of the goals outlined with the original suggestion. What I want to achieve is

1) cleaner code (as you demonstrated)
2) separation into more tasks oriented modules - where you suggest files in the project and the original suggestion is instead npm

[2020-03-26 06:27] wictorwilen commented on #105
Thanks @StfBauer - that would be one way of doing templating.

[2020-03-26 07:59] wictorwilen commented on #113
Thanks @paddotk. I replicated the issue and what you need to do to get it to work is

1) Use SCSS and the `.scss` extension (the gulp tasks only look for scss files)
2) Do not add the CSS into `src/app/scripts/<tabname>` but instead add it under the tab folder in `src/app/web/<tabname>` (this is where your example goes wrong, if you're requireing the CSS)

This will properly create the CSS in the

[2020-03-26 08:00] wictorwilen commented on #112
@Leif-Frederiksen - can you please provide examples of how you would like this to work? Preferably as a pull request as a proof of concept.

[2020-03-26 10:30] paddotk commented on #113
Thanks @wictorwilen for the quick response and tips!

Is this a gulp or generator-teams thing? Seems a bit strange to me that regular .css files can't be used like that. Perhaps for a future version of generator-teams out-of-the-box support for css/scss could be added (so that they could stay in the same folder as components etc)? That would be great :)

Though putting my stylesheets in the `style

[2020-03-27 08:09] StfBauer commented on #107
That is what versioning has been invented for. ;) It might look smart if you have sperate modules but in the end, you will have to upgrade all NPM modules to the same version or you will lose complete oversight.
If version 1.0 does not work well together with version 1.1 and Module A still uses 1.0 and Module B already is on 1.1. This lead to more problems than you actually aimed to avoid.

Gulp t

[2020-03-27 08:37] Leif-Frederiksen commented on #112
Sure thing - I will see if I can get it going :-)

Regards
Leif

Den tor. 26. mar. 2020 kl. 09.01 skrev Wictor Wilén <
notifications@github.com>:

[2020-04-01 09:24] rabwill opened #114 "Document update: Enabling Microsoft Teams Apps and sideloading"
I guess the documentation here for [Setup Tenant](https://github.com/pnp/generator-teams/wiki/Setup-Tenant) may be outdated. I had to go to the `Microsoft Teams admin center` to enable sideloading. This may be helpful to update for anyone new trying it out.
Thank you.

[2020-04-01 12:18] wictorwilen commented on #114
@rabwill - thanks for noticing. Feel free to suggest an update by creating a pull request.

[2020-04-01 12:20] wictorwilen commented on #113
Got it, you want to import the CSS instead of using a global CSS.

@StfBauer - you have any good ideas and input on how to make this smooth?

[2020-04-01 12:23] wictorwilen commented on #107
I do still believe separate modules, not controlled by the scaffolded project, is the correct way of doing this - if we still want to support running a generator over an existing project (which I think is hugely benefitial). Current update situation is very problematic - no matter how clean we make the gulpfile and its tasks.

[2020-04-01 14:18] rabwill commented on #114
Happy to take this up  ! Thank you

[2020-04-01 20:08] StfBauer commented on #107
It will be in future too cause Yeoman is not meant to re-run. 😃

Updating an existing project does not work in SPFx either. The crucial part for a re-run is to drop TypeScript in general cause it does not really have any AST support that allows you to detect and especially update things such as the gulp file. I've been there with the PnP/SPFx generator and dropped it because it was pretty tricky.

[2020-04-02 05:43] wictorwilen commented on #107
You make my point, it's almost impossible to update the gulpfile the way it's done now, therefore moving them into separate entities will be better.
Secondly we've been using AST to generate and update TypeScript files for the last two years in the generator - so I don't see that as an issue.

[2020-04-07 10:11] TetumTede opened #115 "Deployment to azure fails due to Kudu not finding deploy.cmd"
When trying to deploy a tab to azure Web app, I receive the following error message:
/opt/Kudu/KuduConsole/Scripts/starter.sh: line 2: exec: deploy.cmd: not found
/opt/Kudu/KuduConsole/Scripts/starter.sh: line 2: exec: deploy.cmd: not found\n/opt/Kudu/KuduConsole/Scripts/starter.sh deploy.cmd

I've been following the Readme instructions which comes with the code.

Steps to reproduce the behaviour:

[2020-04-16 07:27] wictorwilen commented on #115
@tedumtede what version of the generator did you use? (3.1.0 is not a generator version number)

[2020-04-16 07:29] wictorwilen commented on #106
Fixed in https://github.com/pnp/generator-teams/tree/2.13.0

[2020-04-16 07:29] #106 closed, assigned to wictorwilen

[2020-04-16 07:29] wictorwilen commented on #104
Fixed in https://github.com/pnp/generator-teams/tree/2.13.0

[2020-04-16 07:29] #104 closed, assigned to wictorwilen

[2020-04-16 08:07] TetumTede commented on #115
@wictorwilen Sorry that's the Yo version, Teams version is currently 2.13.0

[2020-04-16 08:10] wictorwilen commented on #115
Thanks. 2.13.0 was just published, did you recreate your project with this brand new version one? Also, do you have a `deploy.cmd` in the root of your project?

[2020-04-16 09:08] TetumTede commented on #115
No I hadn't as only updated it this morning when I noticed it could be updated, I've also updated the npm to 3.1.1. I'm just recreating what I did last time hopefully the update cures the issue. Yeah I do at the root level.

[2020-04-16 10:05] TetumTede commented on #115
Well the update seems to of fixed the npm error! I'll update the thread once it has deployed and I've tested it in Teams

[2020-04-16 18:07] waldekmastykarz commented on #107
What if each task was in its own file? If you want to update it, you overwrite all file contents and are done with it. You have the combination of separation of concerns, support of simple updates without having to fiddle with AST and without the complexity of separate npm packages. Yes, there are possible downsides:

1. Someone changes one of the existing tasks in the original file and an update

[2020-04-17 05:57] wictorwilen commented on #107
@waldekmastykarz - yea, that's been considered. The drawback of that is to update one of the build tasks - you are **required** to run the generator and overwrite or manually update the tasks. Sort of how it works today. I think a combination of "local" tasks and "published" tasks would be the ultimate combo. For instance - take the manifest validation, which requires a version and a schema. What

[2020-04-17 07:35] waldekmastykarz commented on #107
With published tasks, wouldn't they need to update the corresponding npm package to use the new tasks? So in the end, wouldn't that be the matter of running `npm update` vs. re-running the generator?

What I like about packaging tasks is that it allows you to ensure the integrity of the tasks and easily update it. And if someone needs to adjust it, they can copy the code out of the tasks and creat

[2020-04-17 07:37] StfBauer commented on #107
Understandable from the current state but for example the manifest "generator" as a generator I wouldn't do at all. (Just looked it up in code just now)

I would rather put it in a general library that can be consumed by all generators.

1:) Re-run of the generator can identify the re-run und just update the manifest using the library
2.) The code at all could be at some point may be called by CLI

[2020-04-17 07:55] wictorwilen commented on #107
@waldekmastykarz - yes it would require an `npm update`, that's the whole point. It's opt-in and it's more lightweight than running the generator over again (as that does more than just write over the files, such as upgrading manifest versions etc).

Sort of the design criteria's are:
- being able to update your ~~project~~ tasks without running the generator
- being able to not include all build

[2020-04-17 08:18] waldekmastykarz commented on #107
This is a very specific requirement 😉 What's wrong with using the generator to upgrade the project? In this scenario I see the generator as an equivalent to let's say the ng or react CLI. You can run it as often as you need/want and it will do whatever you want it to. If you want it to create new stuff, it will. If you want it to update something specific, it will do just that. Do you see it diffe

[2020-04-17 08:23] wictorwilen commented on #107
Correct, typo, should be *tasks* not project. Example, there's a "bug" in task. I can't ask or inform everyone to download a new generator version, go through the risk of running the generator (not all upgrade paths are happy paths), and then overwrite what we have. In this case, a patch version of that task could be published and all they have to do is to do npm update.

That's the whole point. I

[2020-04-17 08:25] wictorwilen commented on #107
And by all means - if someone wants to build another "extension generator" to add stuff, then go ahead. I would love it. I'd like to keep the yo teams as small as possible...

[2020-04-17 08:37] #115 closed, assigned to nobody

[2020-04-17 09:22] waldekmastykarz commented on #107
How would that work with lockfiles that are generated automatically nowadays? You could mark these packages as deprecated but with the number of dependencies in each project nowadays and the default number of warnings they could go unnoticed.

Gotcha. Thanks for clarifying.

[2020-04-17 09:29] wictorwilen commented on #107
Spot on! I want to use an already known way. For instance how do you manage app insights updates for Office 365 CLI? You don't randomly just upgrade it, right? You control it - and that is the point. You are in command - not the generator. And as an example if there's a bug in a yo teams task and you're not bugged by it, you have no reason to update. If we had all of this bundled and scaffolded by

[2020-04-17 09:45] waldekmastykarz commented on #107
Correct, but I'd say it's rather out of necessity than by my own choice. Ideally, I'd love to automatically get latest patches and bugfixes. Unfortunately, the reality is that many devs don't quite adhere to semver and sometimes introduce breaking changes in versions marked as minor or patch. As a result we have lockfiles that isolate us from such breaking changes and put us in control but introdu

[2020-04-17 10:05] wictorwilen commented on #107
Also a quick note. Having the core tasks as npm packages - does not prohibit you from adding Gulp tasks just as you normally would do; in the gulp file, as tasks files etc etc.

[2020-04-17 11:25] andrewconnell commented on #107
_Catching up on the discussion..._

![](https://media.giphy.com/media/l2Sqc3POpzkj5r8SQ/giphy.gif)

I like where this is going... I do want to add a few things

@waldekmastykarz [asked](https://github.com/pnp/generator-teams/issues/107#issuecomment-614810785):

I'm not a fan of this... my team did this on a product we were working on years ago and it was a nightmare to maintain. In theory, it was

[2020-04-17 11:26] StfBauer commented on #113
@paddotk can you share a demo project to look into as it seems from the past comments you have multiple issue that might be caused by the generator or your usage.

Also, it gives better insight on what things are missing and how to optimise. Thank you in advance.

[2020-04-17 11:55] wictorwilen opened #116 "Synchronization of version between package.json and manifest?"
**Is your feature request related to a problem? Please describe.**
I'd like to make it easier to work it versions of th manifest n solution. And upgrading deployed apps requires a manifest version update.

**Describe the solution you'd like**
Use the version `package.json` as the version for th manifest through a new replacement variable `{{VERSION}}`.

This would be th be default when scaffolding

[2020-04-17 12:32] StfBauer commented on #107
@andrewconnell really this guy you compare me to this guy 🤦‍♂️

Despite the re-run is never mentioned in the documentation and '.yo-rc' the purpose is not for re-runs.

I am out.

[2020-04-17 13:07] andrewconnell commented on #107
_That's not a comparison... it was just meant to be funny :) If anything, that would be me saying "no" :) If it was taken as a comparison, my bad... not at all intended that way._

I hope you don't drop out of the thread... you've got a lot of value to add. Just because I don't agree doesn't mean one of us is wrong. Just a difference of opinion.

[2020-04-17 17:28] waldekmastykarz commented on #107
@StfBauer any evidence to back it up? Not taking any sides, just curious if it's more than an opinion/feeling (which doesn't necessarily have to be less valuable).

[2020-04-18 14:44] StfBauer commented on #107
On .yo-rc file you will find this in the documentation:

While I agree it can and is used to re-run generator, it is not the primary purpose of those `.yo-rc.` files.

Despite some picky details, its name is "The web scaffolding for modern web apps," not "project management tool for modern web apps". You will also nowhere stated in the documentation

Also pickier it is named generator, not a manag

[2020-04-18 14:53] StfBauer commented on #107
Example: PnP/SPFx and scaffolding
I only can apply things mostly on existing files. I cannot use the generators in-memory file system cause the data already have been committed to the file system.

All utilities to customize the project setup run ATM in an own library. Utilities can get called with the yeoman file system or regular NodeJS file handling. So the generators are just stripped down to

[2020-04-18 15:51] wictorwilen commented on #107
Thanks all, but can we please put an end to the philosophical question on whether Yeoman can/should update projects.

Currently there are 1) no plans in switching out Yeoman for something else and 2) we will continue to support adding new features to an existing project and when applicable and possible help the user to update their project.

[2020-04-18 17:42] StfBauer commented on #107
0.) It is not philosophical it is architectural.
1.) No plans on switching out Yeoman - No one said that. Just some considerations on how to make life easier with Yeoman and when to use scaffolding and when not.
2.) Same here you can Yeoman to update and existing project and use technical nothing that yeoman offers in a generator - or you add a solid engine that allows you to update already scaffo

[2020-05-08 03:05] fabulias opened #117 "Add connector in teams doesn't work fine"
**Describe the bug**
I have created just a connector with `yo teams`, I can call my ngrok URL with `/api/connector/ping` without problems, also I can to get the config.html page, but when I try to add as a new app in our tenant, the connector offers me select a color Blue or Orange (then I add another color and the color was shown).

![teamsDemoConnector](https://user-images.githubusercontent.com/

[2020-05-08 08:31] wictorwilen commented on #117
As you can see Microsoft Teams reports that it's unable to save the connector (see the text in the bottom of your screenshot). That message is typically shown when you have misconfigured your Connector in the connector portal, or using the wrong Ids. Sometimes you might get a hint of what's wrong by opening the web browser developer tools and check for any error messages.

This is not a bug in the

[2020-05-09 18:37] marcoszanre opened #118 "Add proactive messages endpoint in default code"
First of all, thank you for this generator, it is awesome for building bots! However, it doesn’t expose any proactive message endpoint by default.

Could you please add it or provide a wiki with steps on how to extend the current implementation to support proactive messages?

As an alternative, there are [code samples](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/typescript_

[2020-05-12 10:55] wictorwilen opened #119 "Buffer() is deprecated"
**Describe the bug**
The following is shown in the debug console when using an outgoing webhook
`(node:14144) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

**Expected behavior**
No warnings or errors

**Detailed information**
 - Generator version: 2.13
 - OS: Window

[2020-05-12 11:48] wictorwilen opened #121 "Add support for schema v1.6"
**Is your feature request related to a problem? Please describe.**
I want to use the `loadingIndicator` and `applicationPermissions` available in schema v1.6

**Describe the solution you'd like**
Add 1.6 as an option in the generator

[2020-05-13 14:51] wictorwilen commented on #121
Added support for this in `2.14.0-preview`

[2020-05-13 14:53] wictorwilen commented on #118
@marcoszanre - there's no such thing as a *proactive message endpoint*. This is something you need to implement in your application.

However, it's a great idea to add this as a part of the documentation to showcase how it's done.

[2020-05-13 14:54] wictorwilen commented on #117
@fabulias- any update on this, or can I close this issue?

[2020-05-13 14:55] wictorwilen commented on #59
Added in version `1.13.0`

[2020-05-13 14:55] #59 closed, assigned to wictorwilen

[2020-05-18 08:41] wictorwilen commented on #121
Complete in Release 2.14.0 https://github.com/pnp/generator-teams/tree/2.14.0

[2020-05-18 08:41] #121 closed, assigned to wictorwilen

[2020-05-18 08:41] wictorwilen commented on #119
Fixed in 2.14.0 https://github.com/pnp/generator-teams/tree/2.14.0

[2020-05-18 08:41] #119 closed, assigned to wictorwilen

[2020-05-18 08:42] wictorwilen commented on #116
Added in 2.14.0, https://github.com/pnp/generator-teams/tree/2.14.0

[2020-05-18 08:42] #116 closed, assigned to wictorwilen

[2020-05-18 08:42] wictorwilen commented on #114
Added to Wiki with 2.14.0

[2020-05-18 08:42] #114 closed, assigned to nobody

[2020-05-22 07:47] wictorwilen opened #124 "Static Web Site and Tab only projects"
**Is your feature request related to a problem? Please describe.**
Make it easier to create and publish client side only apps.

**Describe the solution you'd like**
I'd like to see an option where **yo teams** scaffolds a project with ONLY tab support - and with the possibility to publish to a static web site. That is - not spinning up express or anything like that when in production.

[2020-06-08 08:27] wictorwilen commented on #86
Closing this one. `npm audit` gives (as of 2020-06-08) zero warnings on the generator itself and for a generated project `plumber` is only used during build-time and should not be used in a running solution - which is an acceptable risk.

[2020-06-08 08:27] #86 closed, assigned to nobody

[2020-06-08 08:28] wictorwilen commented on #94
Closing this issue due to no response. Feel free to open again if required.

[2020-06-08 08:28] #94 closed, assigned to nobody

[2020-06-08 08:28] wictorwilen commented on #101
Cards updated in `2.15.0-preview`

[2020-06-08 08:28] #101 closed, assigned to nobody

[2020-06-08 08:29] wictorwilen commented on #117
Closing this as there's no response. Feel free to open again if required.

[2020-06-08 08:29] #117 closed, assigned to nobody

[2020-06-08 08:29] wictorwilen commented on #88
Enhancement added in `2.15.0-preview`

[2020-06-08 08:29] #88 closed, assigned to nobody

[2020-06-09 09:59] leeford opened #126 "Additional Personal Tabs have the same entityId"
**Describe the bug**
After the initial generation of the project, if you choose to generate an additional personal tab within the project (by using "yo teams" in the folder), it will create the new tab, but within the manifest.json file, the entityId of the tab is the same as initial tab created.

![image](https://user-images.githubusercontent.com/472320/84133652-542b3200-aa3f-11ea-8594-dcbcf232c6

[2020-06-09 17:44] wictorwilen commented on #126
Thank you for reporting this. Will take a look at it ASAP

[2020-06-10 06:45] wictorwilen commented on #126
A fix has been added to `2.15.0-preview2` if you want to test it now. Planned full release within a few days.

[2020-06-11 11:43] leeford commented on #126
Yep, that works - a GUID is now present - thanks for the quick fix.

[2020-06-11 12:07] #126 closed, assigned to wictorwilen

[2020-06-23 14:01] atomroflman commented on #59
@wictorwilen I generated a new teams app using: https://docs.microsoft.com/de-de/microsoftteams/platform/tutorials/get-started-yeoman
Then I tried to change the 'MYAPP_APP_URI=' paramter in the environment file. To my latest ngrok address 'id12345.ngrok.io' anyways it tells me 'An SSO error occurred App resource defined in manifest and iframe origin do not match'.
So I guess you didn't mean to rec

[2020-06-23 14:42] wictorwilen commented on #59
@atomroflman - ensure that you use the same host name in the Azure AD app registration an in the .env file. Remember that the ngrok Url changes everytime you start "gulp ngrok-serve", which means that you must update everything as well as reupload the app to Teams.
I do not recommend this approach for SSO Tabs, and either recommend reserving domains in ngrok (costs a small fee) or use a custom do

[2020-06-27 15:26] DarqueWarrior opened #127 "Help does not work"
**Describe the bug**
When I call the following command I get an error
[code]

**To Reproduce**
Steps to reproduce the behavior:
Type
[code]

**Expected behavior**
I expect to see help on parameters and sub generators.

**Screenshots**
[code]

**Detailed information**
 - Generator version: 2.15.0
 - Yeoman version: 3.1.1
 - OS: Windows
 - Node version: v12.16.3
 - Npm version: v6.14.5

**Additional

[2020-06-27 15:29] wictorwilen commented on #127
Thanks for reporting this. Clearly an oversight and missing feature. Will add to the backlog. Meanwhile, you have all the parameters and docs in the Readme file.

[2020-07-01 03:59] kirti-prajapati opened #128 "A typo in description - Wiki Documentation"
A typo in the description of "**Build a Connector for Microsoft Teams**".

Steps to find the typo:
1. Go to https://github.com/pnp/generator-teams/wiki/Build-a-connector-for-Microsoft-Teams
2. Scroll down to **Test the connector**
4. See the typo at "When the **proeject** was generated"

[2020-07-01 07:32] wictorwilen commented on #128
Thanks for reporting this. Feel free to create a PR for this :-)

[2020-07-01 07:33] wictorwilen opened #129 "Adaptive card support for Connectors"
**Is your feature request related to a problem? Please describe.**
Use of adaptive cards in the generated connector, new feature as of June 2020

**Describe the solution you'd like**
As above

**Describe alternatives you've considered**
There is no alternatives :-)

[2020-07-01 07:35] wictorwilen commented on #90
Closing this due to inactivity

[2020-07-01 07:35] #90 closed, assigned to nobody

[2020-07-01 16:04] kirti-prajapati commented on #128
Hi Wictor, Thanks for encouraging me to create a PR for this issue.
I have tried cloning the Wiki - https://github.com/pnp/generator-teams.wiki.git but not able to push the changes due to access issues.

Can you please advice how can I create a pull request for Wiki?

[2020-07-02 15:32] hugoabernier commented on #128
@wictorwilen I tried to help @kirti-prajapati submit the PR, but we're both getting:

[code]

The typo is on line **80**

[2020-07-02 16:54] wictorwilen commented on #128
Thanks @hugoabernier  and @kirti-prajapati . Seems like PR's to wikis is only for users with Write access to the repo. The recommended way to update a wiki is by clicking edit on the page itself (not doing a PR) and just edit away

[2020-07-02 21:56] hugoabernier commented on #128
@wictorwilen thanks for your quick response but unfortunately, the ability to edit the wiki page doesn't appear for either @kirti-prajapati or I. Could it be a permissions thing?

[2020-07-03 05:55] wictorwilen commented on #128
Hmm, I'll investigate...probably just another reason to move faster to MKDocs...

[2020-07-03 11:59] wictorwilen commented on #128
I changed a setting to allow *public* editing of the Wiki, try it out please

[2020-07-03 12:08] kirti-prajapati commented on #128
It works now. I have made the changes. Thanks for the quick response.

[2020-07-04 07:42] ronaldborman opened #130 "Package clash when SPFx is installed"
**Describe the bug**
Imho it's fair to assume that, just like myself, a majority of users will also have SPFx installed. When I install the prerequisites for the Teams generator, a package clash occurs:
[code]

**To Reproduce**
1. npm install gulp yo @microsoft/generator-sharepoint --global
2. npm install yo gulp-cli typescript --global

**Expected behavior**
A clash-free installation besides SPFx

[2020-07-05 10:37] wictorwilen commented on #130
Thanks for reporting this. Unfortunately the SPFX generator is using an old Gulp version from the V3 branch and for Yo Teams we're using Gulp V4.
We will not downgrade this for Yo Teams and we can wish for future SPFx versions to update their toolchain.

Personally I've not had any issues with running both generators, as any Gulp command executed will prefer to use the local Gulp version.

Another

[2020-07-05 10:38] #130 closed, assigned to nobody

[2020-07-05 10:40] #128 closed, assigned to nobody

[2020-07-10 06:36] klippas-rob opened #131 "Problems trying to debug using VS Code"
I set breakpoints in my bot.ts file and when the debugger attaches, the red circles grey, and on mousing over any one of them I get the message "Unbound breakpoint".

I added this configuration to launch.json from README.MD, changing the port number to match gulp serve --debug:

 {
                "type": "node",
                "request": "attach",
                "name": "Attach,

[2020-07-15 03:47] T-Roth opened #132 "How can I get the deploy.cmd to run when deploying to Azure from VS Code?"
How can I get the deploy.cmd to run when deploying to Azure from VS Code instead of Git?
My project is setup using v2.13.0 of the generator.

[2020-07-16 11:14] symbiotic opened #134 ""Cannot GET /[subdirectory]" error when hosting a Teams App as a website subdirectory"
**Describe the bug**

I'm unable to host Teams Apps, generated by your Yeoman generator for Microsoft Teams, in a subdirectory of a website. For example, viewing a Teams App hosted at "http://locahost/teams" in a browser, results in a blank page containing only the text:

    Cannot GET /teams

**To Reproduce**

Note: I'm using IIS on windows. I also have IISNode and URL Rewrite installed to be ab

[2020-07-16 12:47] KaushalKhamar opened #135 "Teams generator using react"
Can we have an option to create a solution using React instead of TypeScript?

[2020-07-18 17:32] sandeepvootoori opened #136 "Debug server and client side code using VS Code"
Is it possible to debug server and client side code using VS Code while the app is running in teams using gulp ngrok-serve?

**To Reproduce**
Below is my launch.json but seems like it only stops in server side code
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwli

[2020-07-19 16:15] symbiotic commented on #135
i don't understand this question
- React is a GUI framework
- TypeScript is a programming language

what are you trying to do?

[2020-07-24 20:15] westerdaled opened #137 "Yo Teams fails when NordVPN enabled: ECONNREFUSED"
**Describe the bug**

Luckily for me, figured this out pretty quickly as I happened to turn on the VPN earlier today.

Go through the installation steps then run <code>yo teams</code>
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install Teams Generator
2. Turn on NordVPN
3. Yo Teams
4. Turn off NordVPN
5. Repeat step3 and no issues

**Expected behavior**
A clear and concise descri

[2020-07-25 12:15] wictorwilen commented on #137
Thanks for this. This is our telemetry logging usage. Will add this to backlog to capture any errors correctly. Meanwhile, if you want to avoid this use the `--no-telemetry` flag when running `yo teams`.

[2020-07-25 12:16] wictorwilen commented on #136
Last time I tried Code does not allow for debugging both server and client side at the same time. I typically debug server side using Code and client side using Chrome/Edge dev tools.

[2020-07-25 12:16] #136 closed, assigned to nobody

[2020-07-25 12:18] wictorwilen commented on #135
@KaushalKhamar - as @symbiotic says React and TypeScript are a framework vs a language.

However I guess your question is "create a solution using JavaScript instead of TypeScript". We have no plans on a JavaScript only version of the generator. **But** since TypeScript is a superset of JavaScript you are free to write pure JavaScript as it fits you.

[2020-07-25 12:18] #135 closed, assigned to nobody

[2020-07-28 09:14] westerdaled commented on #137
Thanks @wictorwilen.   <code>--no-telemetry </code> flag  works perfectly.  Out interest, is there a way to list the command line arguments e.g. <code>yo teams --help</code>?

[2020-07-30 19:58] anmolsinghchauhan opened #140 "I am not able to select " What features do you want to add to your project?" Even though i try to select bot , or webhook or connector. Tab is getting set automatically everytime. Can someone suggest a reason or workaround to fix this."
**Describe the bug**
I am not able to select " What features do you want to add to your project?" Even though i try to select bot , or webhook or connector. Tab is getting set automatically everytime. Can someone suggest a reason or workaround to fix this.

**To Reproduce**
Run Yo Teams
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and conci

[2020-07-30 20:01] anmolsinghchauhan commented on #140
Please help on this.

[2020-08-06 09:06] wictorwilen commented on #140
Please verify the version of the generator - 2.5 is really old. Also if you're using the latest versions you need to upgrade node, as node 8 is no longer supported

[2020-08-11 08:52] richmondp opened #141 "Add additional documentation for deployment"
**Is your feature request related to a problem? Please describe.**
I am using the generator and Azure for the first time and I am trying to go through the instructions in the README.md for **Deploying to Azure using Git**. When it is asking to _Create a new *Web App* with Windows App Service Plan_ I am not sure what to do. On the Azure Portal the is a blade to create a Static Web App and one to cr

[2020-08-12 11:37] RalfBrennscheidt commented on #141
Hello richmondp,

Microsoft branched out and named the bot specific service "Web App Bot" in Azure.
Please use this one instead.

Best regards,
Ralf B.

[2020-08-17 13:22] wictorwilen commented on #140
@anmolsinghchauhan  - have you been able to proceed?

[2020-08-26 10:16] latonita commented on #45
I have same behavior on Node 10.15. Adding max space 8192 postpones the problem for some time.

[2020-08-27 23:05] klippas-rob opened #142 "new DialogSet fails with botbuilder 4.10.1"
In the generated code, the new DialogSet fails if using botbuilder SDK 4.7.0 and above.

`	public constructor(conversationState: ConversationState) {
		super();

		this.conversationState = conversationState;
		this.dialogState = conversationState.createProperty('dialogState');
		this.dialogs = new DialogSet(this.dialogState);`

hovering over (this.dialogState) yeids the following error:

`	(proper

[2020-08-29 03:39] aLx450 opened #143 "Connecting multiple tabs and a bot, what's the flow?"
Hi,
I never post on repos so I don't even know if this is appropriate, but the Microsoft Docs are, let's say, less than optimal.

I have been watching YT videos and reading for days now. YO Teams videos are great, but they always show one feature at a time. How does one go about having a complex, multi-tab app? I looked at available apps and it looks so simple... GitHub has multiple tabs, Jira doe

[2020-09-04 07:45] schweigerandreas commented on #131
Hi Rob,

I had the same issue (not a Node and Javascript pro either).
For me running the command `npm run debug` fixed the problem. (I stumbled uppon this when looking at the package.json file.)

I hope that also works for you / others with the same problem.

[2020-09-04 13:33] kumaresanraven opened #146 "Deploying the yo teams app to azure web app with bot and tabs"

[2020-09-05 13:55] #146 closed, assigned to nobody

[2020-09-06 20:50] felipeplets commented on #142
I'm seeing the same error as @KIlippas-Rob

[2020-09-07 18:32] pschaeflein opened #147 "Generator does not support manifest version 1.7"

[2020-09-10 15:38] latonita opened #148 "Deploy to Azure fails (App Service on Linux)."
**Describe the bug**
When I deploy generated app to Azure App Service (node/linux) it always fails.

**To Reproduce**
1. yo teams
2. open vscode
3. switch to Azure extension
4. deploy to existing Linux App Service
5. it makes zip file, uploads to azure and then
[code]
chaning .deployment file to use `deploy.sh` instead of `deploy.cmd` doesn't help.

**Expected behavior**
Application deploys to App

[2020-09-19 12:06] sandeepvootoori opened #150 "Error after scaffolding Action Based Messaging Extension"
**Describe the bug**
Created a new action based messaging extension and getting TSLint errors for @types\babel_traverse

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new action based messaging extension using yo teams
2. Run gulp serve

**Screenshots**
![image](https://user-images.githubusercontent.com/40895430/93666616-893b1d80-fa4d-11ea-9b9a-3cf35ea9b4c4.png)

**Detailed informa

[2020-09-19 12:33] sandeepvootoori commented on #150
Just tried updating my Node version to latest LTS - v12.18.4 and still facing the same issue

[2020-09-20 21:13] Degerada commented on #150
I can confirm the same issue.
It is tied to jest.
Once you remove the jest-related dependencies from the projects, babel__traverse won't be used by the project anymore and it will build successfully.

I do not know what's causing this issue, because I have other projects with jest that compile fine, but this serves as a workaround.

As for cause investigation, I tried building this project with:
n

[2020-09-20 21:18] sandeepvootoori commented on #150
I will give it a try, Thanks for testing

[2020-09-22 10:49] shurick81 opened #151 "Public docker image"
**Is your feature request related to a problem? Please describe.**
The problem is that in order to try this generator, I need to install the generator and dependencies.

**Describe the solution you'd like**
If there was a public image in Docker Hub, I could just run one command to generate the solution on any machine with docker installed.

**Describe alternatives you've considered**
What we might

[2020-09-24 20:23] BrendanAndrade opened #152 "Remove reference to bot's master in bot's default responses"
**Describe the bug**
By default the bot will respond with "I'm terribly sorry, but my master hasn't trained me to do anything yet..." when it receives a message that isn't "hello" or "help".

**To Reproduce**
Steps to reproduce the behavior:
1. Send bot any message except hello or help.
2. Receive response "I'm terribly sorry, but my master hasn't trained me to do anything yet..."

**Expected beha

[2020-09-26 00:40] rony2818 commented on #148
You should delete deployment and deploy and re push again.
it worked for me

[2020-10-06 17:00] WillFrasier opened #154 "Error "TS1005: ';' expected." when calling gulp build on a new bot framework project"
**Describe the bug**
Followed instructions [here](https://github.com/PnP/generator-teams/wiki/Build-Your-First-Microsoft-Teams-App) and am seeing zillions of errors like this when I run the `gulp build` command. This was done on a machine with node and vs code install. It was a new bot project in a clean directory with no other content in it.

**To Reproduce**
Steps to reproduce the behavior:
`nod

[2020-10-08 14:03] niklasden commented on #154
Same issue here.
@WillFrasier did you find out how to fix this?

Generator version: 2.15.0 (latest version)
OS: PopOS! 20.04
Node version: 10.19.0
Npm version: 6.14.8

[2020-10-12 09:08] AmaniSakr opened #155 "Debugging Server Side of Microsoft Teams App in Visual Studio Code isn't working"
**Describe the bug**
A clear and concise description of what the bug is.
Trying to debug the server code of Microsoft Team Tab, and the break point shows "unbound breakpoint" and the breakpoints doesn't get fired
**To Reproduce**
Steps to reproduce the behavior:
1. Run gulp serve --debug after configuring the ngrok tunneling
2. adjust the launch.json as following
`  {
            "type": "node",

[2020-10-12 15:13] wictorwilen commented on #155
This is what I use in VS Code for attaching my debugger:

[code]

Please try that.

[2020-10-13 05:59] wictorwilen commented on #152
Thank you for this. Very good suggestion - will fix this immediately to be included in the upcoming release!

[2020-10-13 06:04] wictorwilen commented on #151
Thanks for the idea, and you're reading my mind. I do have a `Dockerfile` already in the upcoming preview - stay tuned

[2020-10-13 06:42] wictorwilen commented on #154
Thanks fore reporting this. This issue is due to updated type definitions in Babel, which is installed by Jest, which is installed when you select to include tests. The Babel types has been updated and now requires Typescript > 3.4.

**Your workaround is to run `npm install typescript@3.4 --save-dev`, to install a newer version of Typescript**

*Note: in upcoming version (2.16) the Typescript vers

[2020-10-13 06:42] #154 closed, assigned to nobody

[2020-10-13 06:43] wictorwilen commented on #150
See #154

[2020-10-13 06:43] #150 closed, assigned to nobody

[2020-10-13 06:44] wictorwilen commented on #151
@shurick81 - here's the `Dockerfile` I've been using for a project. Any comments, thoughts or additions?

[code]

[2020-10-13 06:46] wictorwilen commented on #148
Thanks for reporting this. The current `deploy.cmd` file is very old and will be deprecated in `2.16`+ in favor of updated documentation/methods, due to this and similar issues.

[2020-10-13 06:46] #148 closed, assigned to nobody

[2020-10-13 06:47] wictorwilen commented on #141
We will make updates to the documentation in upcoming releases

[2020-10-13 06:48] wictorwilen commented on #147
The current preview version supports 1.7

[2020-10-13 06:48] #147 closed, assigned to nobody

[2020-10-13 06:52] wictorwilen commented on #143
Hi @aLx450 - good question and great to see you comment here. First of all - this gives me some great ideas for additional videos and content to produce around this, thanks.
Secondly - an extension in Teams (tab, bot...) are all its own entities. Of course you can have them all hosted in the same solution and use the same overall configuration. But in order to have them "speak" to each other you n

[2020-10-13 06:53] wictorwilen commented on #137
`--help` will be there in a future update

[2020-10-13 06:53] #137 closed, assigned to nobody

[2020-10-13 06:53] wictorwilen commented on #142
This will be sorted in `2.16.0-preview2` and later

[2020-10-13 06:56] wictorwilen commented on #134
Thanks for the idea and suggestion for implementation. We'll take this into consideration. We also would love to see contributions to the project on this.

[2020-10-13 07:00] wictorwilen commented on #131
See #155

[2020-10-13 07:00] #131 closed, assigned to nobody

[2020-10-13 18:31] shurick81 commented on #151
@wictorwilen is that an image that one can use for scaffolding new Teams solutions or for building those? Sorry I'm having a hard time figuring this out. That is more or less Dockerfile that I was thinking of when it comes to scaffolding:

[code]

And then the usage of the image:

[code]

[2020-10-13 18:33] wictorwilen commented on #151
Gotcha! This was more meant for publishing the application.

[2020-10-13 18:36] wictorwilen commented on #151
@shurick81 - what if you helped with testing this, and then we could automate this through Github actions and automatically publish a new version every time there's a new release?

[2020-10-13 20:28] wictorwilen commented on #152
PR for this merged in 2.16 preview 2. Thanks

[2020-10-13 20:28] #152 closed, assigned to nobody

[2020-10-13 20:29] wictorwilen commented on #142
Fixed in 2.16.0 preview 2

[2020-10-13 20:29] #142 closed, assigned to nobody

[2020-10-13 20:30] wictorwilen commented on #140
Closing this due to no response. Feel free to open again if the issue persists

[2020-10-13 20:30] #140 closed, assigned to nobody

[2020-10-14 07:11] AmaniSakr commented on #155
Thanks a lot Wictor, This solved the debugging issue

[2020-10-14 07:11] #155 closed, assigned to nobody

[2020-10-14 20:23] shurick81 commented on #151
Sure, I'm in. I will test the one that you shared for the publishing the application and I will get back to you.

[2020-10-19 13:00] shurick81 commented on #151
I have looked at the image you provided, it looks good for testing and hosting purposes. For example, a way to run it will be using some commandline like `docker run -it --rm -p 3007:3007 generator-teams:2.15.0.3`. Am I taking it right? However, it is not something one should put on a public registry, or?

How about taking a step back and trying to figure out all the possible use cases and then we

[2020-10-28 14:14] #127 closed, assigned to nobody

[2020-10-29 09:37] wictorwilen commented on #143
Closing due to no response. Feel free to open again.

[2020-10-29 09:37] #143 closed, assigned to nobody

[2020-10-29 09:38] wictorwilen commented on #113
Closing due to no response. Feel free to open again.

[2020-10-29 09:38] #113 closed, assigned to nobody

[2020-11-04 17:36] NWH-SAmin5 opened #157 "Deploy to Azure using Azure Extension - Throwing error"
Deploying the solution throws error. Somehow after successful deployment site is not able to browse to Tab html pages. Need to update Virtual Directory location to dist\web folder. It works after point virtual directory to dist\web folder.
But at this point Bot endpoint api\messages comes as Not Found 404.

**Is your feature request related to a problem? Please describe.**
The problem is, after ge

[2020-11-04 20:18] webdes03 commented on #99
Can anyone provide basic steps to getting this to work with CI/CD? I've got my pipelines yaml all setup and it's generating the zip archive for deployment, but it appears to only be serving the raw HTML pages after deployment. None of the express routes defined in server.ts for the SSO are available, and whenever I try to run `node server.js` manually through Kudu, I get an error saying express is

[2020-11-05 19:57] qu0cster commented on #124
I agree...just need the results of the client side.... I am irritated by how slow the "gulp serve" is.  To make it worse, it always crash and I have to restart it.  Don't know what its problem:

FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory
 1: 00007FF706747DDA v8::internal::GCIdleTimeHandler::GCIdleTimeHandler+4506
 2: 00007FF706722876 no

[2020-11-16 12:56] wictorwilen commented on #99
@webdes03 this is a pipeline I use for Azure DevOps

[code]

[2020-11-16 13:18] webdes03 commented on #99
Awesome, thanks @wictorwilen, I'll give this a try.

[2020-11-19 14:09] wictorwilen commented on #87
This is now resolved in current preview (`2.17.0-preview`)

[2020-11-19 14:10] wictorwilen commented on #112
This is now in `2.17.0-preview`

[2020-12-05 23:57] PathToSharePoint opened #158 "Webpack error when importing PnPjs"
**Describe the bug**
Disclaimer: this is probably a user issue rather than a bug.

I am trying to implement [PnPjs](https://pnp.github.io/pnpjs/sp/) in a Teams solution. At build time Iam getting Webpack errors, here is an example:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a new yo Teams project (tab)
2. Install PnPjs: `npm i @pnp/sp`
3. Add import statements to the tab

[2020-12-07 08:41] wictorwilen commented on #132
This feature has been deprecated and Yo Teams does not longer support nor recommend this. I'd recommend that you use Azure DevOps or simliar for deployment of Yo Teams applications. See this as a reference: https://www.wictorwilen.se/blog/deploying-yo-teams-and-node-apps/

[2020-12-07 08:41] #132 closed, assigned to nobody

[2020-12-07 08:41] wictorwilen commented on #112
Completed in `2.17.1`

[2020-12-07 08:41] #112 closed, assigned to nobody

[2020-12-07 08:42] wictorwilen commented on #87
Completed in `2.17.1`

[2020-12-07 08:42] #87 closed, assigned to nobody

[2020-12-07 09:54] wictorwilen commented on #158
@PathToSharePoint there seems to be an issue with the way PnPJs declares itself as a module and how Webpack 5+ resolves modules (there's a few reports on this in the Webpack repo). Have you tried the commonjs version of PnPJs?

[2020-12-07 13:14] wictorwilen commented on #158
Closing this one due to comments on the PnPJs thread: https://github.com/pnp/pnpjs/issues/1461

This is not an issue with the yo teams scaffolded contents, rather how ESM modules are implemented in PnPJs.

[2020-12-07 13:14] #158 closed, assigned to nobody

[2020-12-07 13:19] wictorwilen commented on #157
Hi, please avoid using the direct Git deployment and use a solution like zip deployment from Azure DevOps (https://www.wictorwilen.se/blog/deploying-yo-teams-and-node-apps/) or through Azure CLI (https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest).

We've even removed the default git deployment files and instructions from the latest release, due to quite a fe

[2020-12-07 13:19] #157 closed, assigned to nobody

[2020-12-07 13:21] wictorwilen commented on #141
Removed the git deployment from latest release.

[2020-12-07 13:21] #141 closed, assigned to nobody

[2020-12-09 10:40] Vin-1991 opened #161 "gulp build is taking too long to build the whole process upon save"
**Describe the bug**
I'm facing an issue related to the building process of **gulp serve** and **gulp ngrok-serve.** Whenever i'm trying to save something it is taking 30 seconds to 2.5 min to build the whole process again and then only I will be able to see the changes on the screen.

**To Reproduce**
I'm using all the default files like **package.json** , **gulp.js**, **gulp.config.js** and **se

[2020-12-09 11:11] wictorwilen commented on #161
Thanks @Vin-1991 - it's on our backlog to improve the build performance. We welcome any updates from the community to help with this.
One thing you can do to optimize your build performance when debugging is to use the `--debug` flag to reduce optimizations done and to use the `--no-linting` to opt-out of linting.

[2020-12-09 11:37] Vin-1991 commented on #161
@wictorwilen I'm have already both(`--debug, --no-linting` ) of them in place  still it is taking this much time.

[2020-12-09 12:50] wictorwilen commented on #161
@Vin-1991 - your compile times looks very long indeed, typically I see around 20-30 secs the first time and then around 10-30 secs depending on the size of the projects for incremental builds. There are a few things you can modify in `wepack.config.js` (one of the reasons we do share the full source of that one is so that you can modify it to your needs).

- set `transpileOnly: true` as an option

[2020-12-10 05:22] Vin-1991 commented on #161
@wictorwilen Thanks for the above recommendations. I have added both of them and it is now far better. For **`server`** it is taking **<= 1.5 sec** and for **`client`** it is taking **<= 25 seconds** in comparison to  minutes.

[2020-12-10 08:02] wictorwilen commented on #161
That's great to hear! 25 seconds is still way above what I want it to be. Can you help me troubleshoot this a bit by doing the following:

1) run `npm install speed-measure-webpack-plugin` to install a webpack diagnostics tool
2) modify your `webpack.config.js` file to
  a) in the beginning of the file have the following statement: `const SpeedMeasurePlugin = require("speed-measure-webpack-plugin"

[2020-12-10 11:03] Vin-1991 commented on #161
Here are the results of server and client both.
![Capture](https://user-images.githubusercontent.com/15855698/101763913-6fb5e900-3b05-11eb-80c3-fcba4fc9a14e.JPG)

[2020-12-10 12:17] wictorwilen commented on #161
Thanks. From what I've identified is that the by far largest issue with the client side code is that when the `@fluentui/react-northstar` library is included in a solution it really impacts build performance.

We'll keep iterating on this, to find the best possible configuration going forward.

[2020-12-11 12:14] piyumi25 opened #162 "CSS are not loading for teams app (tab, connectors)"
I created apps using yeoman generator and previously it had nice CSS (fluent-ui package) but since from last week when I was generating apps, no CSS are applied to the app. Apps are loading without CSS.

The following is for connector app

![image](https://user-images.githubusercontent.com/33615108/101902284-6b0e3500-3bd8-11eb-95b2-a53dfcdf9834.png)

Can some one guide me to overcome from the issu

[2020-12-11 13:38] wictorwilen commented on #162
@piyumi25  - can you please provide what version of the generator you used to scaffold this project? By the looks of the icon it's at least a few versions old - and there's been quite a few changes in what UX package we're using (switched to @fluentui/react-northstar)

[2020-12-11 13:58] wictorwilen commented on #162
@piyumi25 - also can you please run this `npm list --depth=0` in your project folder and share the details of that output

[2020-12-14 03:43] piyumi25 commented on #162
This is the output

[code]

[2020-12-14 07:00] wictorwilen commented on #162
Take a look at the first two lines of that output:

[code]

Please install the `@fluentiui/react-northstar` and `@microsoft/teams-js` packages.

How did you scaffold the project - only a connector?

[2020-12-14 07:06] piyumi25 commented on #162
yes, only a connector

[2020-12-14 07:12] wictorwilen commented on #162
Thanks, please verify that it works after you installed those packages and let me check if there might be an issue on the scaffolding side.

[2020-12-14 07:20] piyumi25 commented on #162
Thank you for your help, I will install them and let you know.

[2020-12-15 05:43] piyumi25 commented on #162
@wictorwilen I updated yeoman generator and it is able to fix my issue, Now no CSS issue.

[2020-12-15 05:43] #162 closed, assigned to nobody

[2020-12-15 06:51] wictorwilen commented on #162
Thanks for the update!

[2020-12-18 06:28] arunakshi opened #163 "context from useTeams is undefined"
**Describe the bug**
A clear and concise description of what the bug is.
Trying to get context state information such as EntityId, teamSiteDomain, teamSitePath & channelName in useEffect of Functional component. Getting context state from useTeams as undefined always.

**To Reproduce**
Steps to reproduce the behavior:
Created the yo teams project with latest generator version and trying to send re

[2020-12-18 07:34] wictorwilen commented on #163
Thanks for reporting this, I'm not able to reproduce this with the following code and I do get a value for `context`.

Also, note that you should not call `microsoftTeams.initialize()` - it's already being called by `useTeams`. And even if you did, that's not giving you the `context`, as that is another method in the Teams JS SDK.

Can you please verify that you run this as a Tab **inside** Micros

[2020-12-18 11:40] arunakshi commented on #163
Thanks for the quick reply Wictor. Somehow I had always undefined context.

I have re-created new teams project and with the same pieces of your code. I have context coming from useTeams() automatically.

Thank you

[2020-12-18 12:07] wictorwilen commented on #163
Thanks, I'm closing this one - if it happens again, please re-open.

[2020-12-18 12:07] #163 closed, assigned to nobody

[2020-12-18 21:31] sr258 opened #164 "Getting gulp error message in freshly scaffolded template"
**Describe the bug**
When I execute `npx gulp ngrok-serve` in a freshly scaffolded template, I get the error message: "The following tasks did not complete: ngrok-serve, serve, watch"

Running `npx gulp build` works fine, but I get a similar error message when running `npx gulp serve --debug`. The server is still opened at 3007 and I can load the sample locally at that port.

This is a longer part

[2020-12-19 09:52] sr258 commented on #164
Reinstalling the Gulp CLI with NPM worked. It's still version 2.3.0 but the problem has disappeared...

[2020-12-19 09:52] #164 closed, assigned to nobody

[2020-12-22 15:35] dickiebowuk opened #165 "Scaffold Teams tab app with SSO fails to install node-sass@4.14.1"
I am trying to scaffold a tab app with SSO for teams. When it is scaffolding out the application it fails when installing packages. The process stops when it attempts to install node-sass@4.14.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete Azure AD app registration
2. Create a new directory in Windows
3. Using cmd cd to new directory
4. yo teams
5. Select the following options:

[2020-12-23 21:00] sr258 opened #166 "Separation of client and server code"
The generator is really helpful to get started with developing a Teams app, but I'd like to know more about the reasoning behind the directory structure of the app. Client and server code is both put into the `app` directory. Most projects I've worked on separate code into a `server` and a `client` directory. What are the reasons that the generator produces a different structure?

[2020-12-26 12:00] wictorwilen commented on #166
@sr258 - very valid question. The current structure is not optimal and we've kept it as this for *legacy* reasons. For V3 - there are two main objectives - the first one being making the build pipeline more flexible and better and secondly this exact issue. I'd love to get some feedback on how we could improve this.

The current thinking is to change the directory structure into something like thi

[2020-12-26 12:23] wictorwilen commented on #165
@dickiebowuk  - thanks for reporting this. I did a quick test with the same node version and could not replicate this. Have you been able to reproduce this multiple times?

[2020-12-27 13:25] dickiebowuk commented on #165
Yes this has happened three times. Deleted the project, ran through the tutorial and get the same issue every time.

I’m happy to demonstrate it, if it would help.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Wictor Wilén <notifications@github.com>
Sent: Saturday, December 26, 2020 12:23:39 PM
To: pnp/generator-teams <generator-teams@noreply.github.com>
Cc: Ri

[2020-12-27 13:42] wictorwilen commented on #165
Thanks for the update. Would you mind sharing the full logs and the output from the console when scaffolding. Also detailed logs from `npm install node-sass --loglevel verbose` would be great if you could share.

[2020-12-28 10:08] dickiebowuk commented on #165
Hi

Attached is the full log file produced from scaffolding the app. I ran the node-sass command below, but it didn’t produce a log file.

Best regards,
Richard Bowen

From: Wictor Wilén <notifications@github.com>
Sent: 27 December 2020 13:43
To: pnp/generator-teams <generator-teams@noreply.github.com>
Cc: Richard Bowen <Richard.Bowen@theaccessgroup.com>; Mention <mention@noreply.github.com>
Subje

[2020-12-28 10:19] dickiebowuk commented on #165
I captured the output from the cmd window when installing node-sass. The log is attached.

Best regards,
Richard Bowen

From: Wictor Wilén <notifications@github.com>
Sent: 27 December 2020 13:43
To: pnp/generator-teams <generator-teams@noreply.github.com>
Cc: Richard Bowen <Richard.Bowen@theaccessgroup.com>; Mention <mention@noreply.github.com>
Subject: #External# Re: [pnp/generator-teams] Scaffol

[2020-12-28 10:31] dickiebowuk commented on #165
Attached is the cmd output when I attempt to scaffold the teams tab app.

Best regards,
Richard Bowen

From: Wictor Wilén <notifications@github.com>
Sent: 27 December 2020 13:43
To: pnp/generator-teams <generator-teams@noreply.github.com>
Cc: Richard Bowen <Richard.Bowen@theaccessgroup.com>; Mention <mention@noreply.github.com>
Subject: #External# Re: [pnp/generator-teams] Scaffold Teams tab app w

[2020-12-29 13:55] sr258 commented on #166
I think your proposed structure makes a lot of sense.

[2021-01-04 10:21] dickiebowuk commented on #165
I looked again at the errors when it was trying to install node-sass 4.14.1. npm couldn't hit the url and download the required files due to proxy settings for npm. I could download the files using chrome, so I could access it from my machine. I reset the proxy settings to null and tried again and the app scaffolded as expected and gulp ngrok-serve worked as well.

[2021-01-04 10:21] #165 closed, assigned to nobody

[2021-01-06 04:59] piyumi25 opened #167 "Error occurred after publish the connector app"
I have created an office365 connector app using yeoman generator and it is working as expected when running it on ngrok. I published it in to Azure using VS code as a normal web application. When I am trying to configuring the connector I got following error and unable to configure.

![image](https://user-images.githubusercontent.com/33615108/103730925-f6c58680-5009-11eb-8ca6-2d2deaa00485.png)

[2021-01-12 21:16] westerdaled opened #168 "Error Error: Cannot find module 'C:\Dev\Teams\MyfirstYoTeamsApp\dist\server.js'"
Seeing some strange issues with the currnent version of Yo Teams when attempting to scaffold and run two separate samples. I have included both as I think the issue is related

Issue 1) [My first teams App](https://github.com/pnp/generator-teams/wiki/Build-Your-First-Microsoft-Teams-App)
Tab App selected when running the generator

Issue 2)[Create an Action Command Message Extension](https://docs.

[2021-01-15 16:09] westerdaled commented on #168
Working with my buddy: @simonDoy today , we've found that the generator needed to add these lines to the dependencies section of your package.json (after morgan)

[code]

Not sure if this omission is a  result of unselecting the default  Tab App, As per  message Ext sample instructions. Anyway we now both able to look at those damn plannets in a 1:1 teams conversation 😃- you could saw we are over

[2021-01-18 12:08] wictorwilen commented on #168
Thanks for reporting. I will try to replicate - those package references should be added by default.

[2021-01-18 12:10] wictorwilen commented on #167
@piyumi25 - there was reports on this on other Teams repos a few weeks ago and last week I saw something about it being resolved. Can you please check again. What URL are you using to host your connector?

[2021-01-20 13:27] diabhoil opened #171 "SharePoint SSO ID is not working while running the yo wizard"
**Describe the bug**
The SharePoint SSO ID "00000003-0000-0ff1-ce00-000000000000" is not validated to true by "validate(input") [TabGenerator.ts](https://github.com/pnp/generator-teams/blob/master/src/tab/TabGenerator.ts) (line 111). Whenever I try a different ID it will work.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute Yo teams (1.8 path)
2. Answer the question "What is the Appl

[2021-01-21 13:38] wictorwilen commented on #171
Thanks for reporting this. This is not a bug as we do Guid validation (using the `uuid-validate` package) and that is not a correct Guid (it's a handmade version). See this as an example https://runkit.com/wictorwilen/validate-0ff1ce-guid

However, we do an exception for empty guids and should probably make an exception to this specific one as well. I'm adding it to the backlog of v3.

[2021-01-21 13:39] wictorwilen commented on #171
PS. As a workaround use an empty guid and then update your `.env` file.

[2021-01-22 12:08] westerdaled commented on #168
@wictorwilen Were you able to replicate the issue as witnessed by @SimonDoy and I when working on the above Teams App challenge?

[2021-01-22 14:02] wictorwilen commented on #168
@westerdaled - Issue 1 is likely due to that documentation adding a style namespace that does not exist in your file (old documentation, for an older version of the generator - if someone just had time to update those things), and nothing wrong with the generator itself.
Issue 2 is however a bug, introduced in 2.17, where in the case you create a messaging extension and do not choose to have a con

[2021-01-22 21:20] westerdaled commented on #168
@wictorwilen  Ah, I can take a hint 😏 . I am happy to volunteer to change the documentation: the way to heaven these days is one PR at a time.  Ok , so the issue 2 wasn't as result of unselected the default Tab App.  Thanks for looking into this.

[2021-01-22 23:03] jimbobbennett commented on #168
Getting the same issue - working through [this Microsoft Learn module](https://docs.microsoft.com/en-us/learn/modules/msteams-conversation-bots/3-exercise-conversation-bots) and getting the error above. Adding the packages as suggested by @westerdaled above makes it work.

[2021-01-25 20:00] sr258 opened #172 "Website mode for tabs"
As far as I‘ve understood it, Teams offers links to a website mode of custom tabs in various places (e.g. in the mobile client if the app hasn‘t been been released for mobile usage by Microsoft). By default the URL of the website is the same as the one for the tab: https://github.com/pnp/generator-teams/blob/6d227addd9258386e752d82b53c2b9bbd39353c7/src/tab/templates/src/app/scripts/%7BtabName%7D/%

[2021-01-29 13:23] wictorwilen commented on #167
Closing this as there's no response and no repo and discussions in Teams repo reports this working again

[2021-01-29 13:23] #167 closed, assigned to nobody

[2021-01-29 13:24] wictorwilen commented on #168
This is fixed in v3 preview

[2021-01-31 03:57] NWH-SAmin5 opened #173 "Error handling for dev and prod"
Error handling for dev can be displayed in emulator
Error handling for prod can be log to Azure App Insights, OR to user

OR if there is already an example, please point me to it and I will close this.
Example of error handling for Teams Bot - generated using yo teams (NodeJS, Express)

[2021-01-31 14:26] wictorwilen commented on #173
@NWH-SAmin5 thanks for reaching out. Can you please elaborate on what additional feature you need - there's already quite a bit of logging and support for Azure App Insights.

[2021-02-01 15:30] NWH-SAmin5 commented on #173
Hi @wictorwilen,

I am looking to use App Insights to log errors.
e.g. I am using Adaptive Card in Teams. I found out teams does not support large size / complex adaptive card and it shows generic error message "Oops! Something went wrong". I wanted catch this error and log it Azure App Insights.

This is one example, I am just generally looking to log any error thrown by the bot.

May be it alrea

[2021-02-01 16:08] wictorwilen commented on #173
Ok, this error typically happens through the chat bot. If you scaffold the project with AI settings this should already be set up for you. Also you can take a look at this node.js and AI tutorial: https://docs.microsoft.com/en-us/azure/azure-monitor/learn/nodejs-quick-start#:~:text=Quickstart:%20Start%20monitoring%20your%20Node.js%20Web%20application%20with,for%20Node.js%20to%20your%20application.

[2021-02-02 00:10] NWH-SAmin5 commented on #173
@wictorwilen yes, its already setup I was able to find lot of information in Azure App Insights. I was able to also find the exact failed request I am looking for, but it does not have necessary error message to indicate what caused the issue. Generally, I would see stack trace or something... but these error doesnt log that. So wanted to log through error handling.

Documentation you mentioned th

[2021-02-04 13:25] aldogarciaglez opened #175 "Error in npm node-gyp when I run the yo teams command"
**Describe the bug**
When I run the `yo teams` command and I provide the prompted information, I am getting the following error and it does not let me to continue:

7076 error code 1
7077 error path C:\Projects\MS600\learn-msteams-bot\node_modules\node-sass
7078 error command failed
7079 error command C:\WINDOWS\system32\cmd.exe /d /s /c node scripts/build.js
7080 error Building: C:\Program Files\

[2021-02-05 07:48] wictorwilen commented on #175
Thanks @aldogarciaglez - this seems to be an error with `node-gyp`, please see the link provided in the log https://github.com/nodejs/node-gyp/issues (specifically this one looks interesting https://github.com/nodejs/node-gyp/issues/2283)

[2021-02-07 13:14] wictorwilen commented on #63
Added in #176

[2021-02-07 13:14] #63 closed, assigned to wictorwilen

[2021-02-07 13:15] wictorwilen commented on #48
Closing this as unit tests been re-factored in 3.0.0 (#176). We should rather open individual issues around more exhaustive testing of artefacts

[2021-02-07 13:15] #48 closed, assigned to cagdasdavulcu

[2021-02-07 13:15] wictorwilen commented on #92
Fixed in #176 (actually even earlier)

[2021-02-07 13:15] #92 closed, assigned to wictorwilen

[2021-02-07 13:16] wictorwilen commented on #100
Done in 3.0.0 (#176)

[2021-02-07 13:16] #100 closed, assigned to andrewconnell

[2021-02-07 13:17] wictorwilen commented on #107
Gulp tasks moved into dedicated npm package with override options (#176)

[2021-02-07 13:17] #107 closed, assigned to nobody

[2021-02-07 13:17] wictorwilen commented on #166
Done in 3.0.0 (#176)

[2021-02-07 13:17] #166 closed, assigned to nobody

[2021-02-07 13:18] wictorwilen commented on #171
Fixed in 3.0.0 (#176)

[2021-02-07 13:18] #171 closed, assigned to wictorwilen

[2021-02-08 16:25] aldogarciaglez commented on #175
Thanks @wictorwilen!

It worked and now I was able to create the component with `yo teams`

I appreciate your response!

[2021-02-08 16:25] #175 closed, assigned to nobody

[2021-02-11 09:23] #168 closed, assigned to wictorwilen

[2021-02-12 08:08] wictorwilen commented on #124
What if we added support for running your tabs with `react-scripts`, but still scaffold the server side (which don't have to be used)?

[2021-02-12 13:08] wictorwilen commented on #99
As we've removed the "old Azure git deploy stuff" from V3, should we close this one? And, an example of deployment using Azure DevOps is documented here: https://www.wictorwilen.se/blog/deploying-yo-teams-and-node-apps/.

[2021-02-12 14:06] #99 closed, assigned to andrewconnell

[2021-02-18 23:26] DomWill opened #181 "Broken links in documentation"
Links are broken on page https://github.com/pnp/generator-teams for:

Documentation
The documentation for the generator and the generated project can be found in the generator-teams Github repository.

More information
For more information on how Tabs and Bots can be used with Teams see the Teams Developer Documentation

[2021-02-19 07:26] wictorwilen commented on #181
@DomWill - thanks for reporting this!

[2021-02-19 08:14] wictorwilen commented on #181
Fixed in #182

[2021-02-19 08:14] #181 closed, assigned to wictorwilen

[2021-02-27 03:13] alexabramkin opened #183 "Errors on 'yo teams' (in very first question about app insights and after all questions answered error about northstar dependency)"
**Describe the bug**
Error on the 'yo teams' first in What is your solution name and then at the end of the process with northstar dependency

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'yo teams'
2. See app insights error
3. Continue answering questions
2. Go through the process of answering questions
3. See northstar error

**Expected behavior**
Process finishing project creation

[2021-02-28 11:20] wictorwilen commented on #183
Thanks for reporting this. What's the result if you run `yo teams --no-telemetry`?

[2021-02-28 18:05] alexabramkin commented on #183
No error in the first question(name), but still the same error about northstar dependency error at the end of answering questions/yoman run

[2021-03-01 12:31] wictorwilen commented on #183
Thanks.

For the application insights error I guess you have something blocking application insights (like Pi hole or a proxy of some kind).

The second issue I just replicated - the way peer dependencies are handled has changed in npm 7+. You can work around the issue meanwhile by running `npm install --legacy-peer-deps` after you seen the error.

[2021-03-01 14:31] alexabramkin commented on #183
Thank you Wictor.

That works for the northstar package, granted that error happens during the process and command has to be run after:
- is there a way to tell if project was fully and correctly created given the dependency interruption (see all the choices and output for the sample project below)?

In other words can I use the generated project (after I run  "install @fluentui/react-northstar@"^

[2021-03-01 15:53] wictorwilen commented on #183
Yes, the project should be correctly scaffolded, as the scaffolding and package installation are two discrete items. If you really want to be sure then you can run yo teams with `-skip-install`, which skips that last package install step and requires you to manually do it

[2021-03-01 16:44] alexabramkin commented on #183
Very good to know, I will do that, thank you Wictor! Given there are workarounds closing this one now.

[2021-03-01 16:44] #183 closed, assigned to wictorwilen

[2021-03-01 17:07] wictorwilen commented on #183
Updated package for `msteams-react-base-component` that fixes this is also imminent

[2021-03-03 15:18] wictorwilen opened #185 "Update debug package to 4.3.1"
**Describe the bug**

Debug versions >=3.2.0 <3.2.7 || >=4 <4.3.1 have a low-severity ReDos regression when used in a Node.js environment. It is recommended you upgrade to 3.2.7 or 4.3.1. (https://github.com/visionmedia/debug/issues/797)

**To Reproduce**
Scaffold a new project and see warnings

**Expected behavior**
No warnings

**Detailed information**
 - Generator version (`generator-teams`): 3

[2021-03-04 10:10] PaoloPia opened #186 "Support for HTTPS and not only HTTP for local server"
I'd like to see support for HTTPS on local server, and not only HTTP.
I already have a partially working solution on my environment.
The only challenge is to make a choice about how to generate a self-issued certificate during the generation.

[2021-03-04 10:11] PaoloPia opened #187 "Support for generating Link Unfurling extensions"
I'd like to see Link Unfurling as one additional option when generating Messaging Extensions.
I already have a working sample that I will simply need to integrate with the generator.

[2021-03-04 10:13] PaoloPia opened #188 "Enrich auto-generated code"
I'd like to see more "advanced" samples in the auto-generated code, especially now that Yo Teams supports React Hooks, because developer might not be up to date about how to use Hooks.

[2021-03-04 10:26] wictorwilen commented on #188
What kind of advanced samples are you specifically looking into - and do you consider it an opt-in scenario? I've been trying to keep the code as "clean" as possible to allow for flexibility for the developers

[2021-03-04 19:07] robgarrett opened #189 "Failed to create tunnel when using ngrok"
Running new scaffold in WSL, which binds localhost to 0.0.0.0. Run gulp ngrok-serve, past ngrok's URL in the Windows 10 web browser and I get the error:

Failed to complete tunnel connection
The connection to https://34807f727c0c.ngrok.io was successfully tunneled to your ngrok client, but the client failed to establish a connection to the local address localhost:3007.

Make sure that a web servic

[2021-03-05 08:03] wictorwilen commented on #189
Thanks for reporting @robgarrett . This seems to be a very common issue with WSL2.
I'd recommend that you use `gulp serve` and then run `ngrok` separately but instead of pointing to `localhost` use your local IP.

[2021-03-05 08:04] wictorwilen commented on #173
@NWH-SAmin5  - have you resolved your issue and can I close this one?

[2021-03-05 16:31] NWH-SAmin5 commented on #173
@wictorwilen - actually not exactly what I was looking for... but handling in a different way.. you can close it.... BUT
if you can take a look at Line 106 here
https://github.com/OfficeDev/microsoft-teams-sample-complete-node/blob/master/src/app.ts

That's what I am looking to do

If something like that is not possible then its fine

[2021-03-06 09:10] BustosAndrew opened #190 "Injected CSS/JS not rendering in team tab html files"
After deploying to my domain at [www.boxintegrationapi.com](url) I only see a "Loading..." element. gulp injects all the files needed into the html files under the web folder. However, no css appears to be rendering, and neither does the injected js. I get the following errors in the chrome console:

Uncaught SyntaxError: Unexpected token '<' client.js:1
Uncaught ReferenceError: integration is not

[2021-03-06 11:19] wictorwilen commented on #173
@NWH-SAmin5 -  that's fairly simple to do. just do an `express.use(...)` in `server.ts` as one of the last statements before you start the server

[2021-03-06 11:24] wictorwilen commented on #190
Thanks @BustosAndrew - the firs thing that comes to my mind is that have you ensured that you've built manifest with the correct host name/URL. That is, in your `.env` file you have set `HOSTNAME` to www.boxintegrationapi.com?

[2021-03-06 16:18] BustosAndrew commented on #190
Yes I checked.

[2021-03-06 17:28] wictorwilen commented on #190
When you open Teams via browser, can you using the network dev tools verify that the JS and CSS is downloaded

[2021-03-07 00:21] BustosAndrew commented on #190
This is what I get when I upload on the web app:

[code]
I looked at the network responses and I noticed that the js and css files are loaded, but the css file returns the exact same response as the js file. The js file also appears as a full html file. I think it makes sense now why I get an unexpected token, but I don't understand why the client.js file is coming up as an html file.

[2021-03-07 15:06] pschaeflein opened #191 "Typo in question for bot"
**Describe the bug**
When choosing to generate a bot, the user is prompted for the type of bot to use. The list of choices includes a Bot Framework bot. In the generator, the option is spelled with a lowercase 'b'.

![image](https://user-images.githubusercontent.com/8008013/110244390-1acb1880-7f24-11eb-96f3-2b2275b67d29.png)

In Microsoft's documentation, an uppercase 'B' is used.

https://docs.mi

[2021-03-07 18:11] pschaeflein opened #192 "Add message extension description in manifest"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
When scaffolding a message extension, the user is prompted to describe the message extension command. This description is not added to the manifest. The description property in the manifest is "Add a clever description here".

[2021-03-08 04:28] BustosAndrew commented on #190
I apologize, I meant to say that loading the config page even on my local machine does not work as well.

[2021-03-08 06:56] wictorwilen commented on #192
Thanks @pschaeflein, looking forward to a PR

[2021-03-08 07:01] wictorwilen commented on #190
Ok. I think the answer is in `Uncaught SyntaxError: Unexpected token '<'`. This is typically seen when you do get an HTML file instead of a JS file - in case of a 404 for example.

When I test to download the JS file using `https://www.boxintegrationapi.com/scripts/client.js` - I do get an HTML file, the `config.html` of your solution. Looks like something is misconfigured on your web server end

[2021-03-08 09:32] BustosAndrew commented on #190
Do I need to preload the js and css files in my _headers file? I read on mozilla that I should do that because it seems that content can get blocked if I don't. Here is the link for reference: [click here](https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content). If needed, you should probably add this as an update to your teams generator. I'll see if it does anything good. Edit: stil

[2021-03-08 12:28] wictorwilen commented on #190
No. You don't have to do that. Somehow your web server is misconfigured.

If I run `curl https://www.boxintegrationapi.com/scripts/client.js` I get the following:

[code]

And I do get exactly the same for all the different requests I run towards that domain. For instance `curl https://www.boxintegrationapi.com/foo.bar` also gives me that HTML code.

[2021-03-08 13:46] pschaeflein opened #193 "Prompt for Microsoft App ID of bot does not have correct condition"
![image](https://user-images.githubusercontent.com/8008013/110329580-680dbf80-7fe2-11eb-9fb9-cf84e1cf1fb0.png)

[2021-03-08 13:56] wictorwilen commented on #193
@pschaeflein - tag, you're it!

[2021-03-08 15:10] wictorwilen commented on #191
Thanks @pschaeflein

[2021-03-08 15:10] #191 closed, assigned to pschaeflein

[2021-03-08 15:10] wictorwilen commented on #192
Thanks @pschaeflein

[2021-03-08 15:10] #192 closed, assigned to pschaeflein

[2021-03-08 15:10] wictorwilen commented on #193
Thanks @pschaeflein

[2021-03-08 15:10] #193 closed, assigned to pschaeflein

[2021-03-08 20:04] BustosAndrew commented on #190
What is the external label for? Oh and it shows the config html file because in my _redirects file I have the site automatically route to it. This is when someone enters an unknown path. On netlify and for SPA, it is best to redirect to a default web page in case of any errors during navigation. I had it set to index before, but I thought I needed to redirect to the config page so people can finis

[2021-03-09 04:08] BustosAndrew commented on #190
A friend just helped me realize that netlify doesn't work well with express, unless it is serving static tsx files. After deploying to Heroku, it renders the main webpage just fine. I have not tested the tab pages just yet. I will let you know what happens. Edit: it works perfectly now and all the tab pages work great on teams. I think you should mention that your generator doesn't work with netli

[2021-03-09 06:54] wictorwilen commented on #190
Great that you got it to work @BustosAndrew .

This was marked as *external* as it is not a bug in the generator.

Netlify is a hosting provider for static sites - where the whole idea with `generator-teams` is to generate a dynamic site, with `express` as the web server. Which is a requirement if you use features such as bots or messaging extensions or connectors. So yes, the generator really gen

[2021-03-09 06:54] #190 closed, assigned to nobody

[2021-03-09 08:36] wictorwilen commented on #189
@robgarrett - any luck with the instructions as above?

[2021-03-09 09:53] IshamMohamed commented on #166
Hi @wictorwilen - I have a question that after the scaffolding is done using this approach, (say I am scaffolding a Tab application with default tab named "Graph Tab") I can see `GraphTab.tsx` file which is consist of the  `GraphTab` component under "src/client/graphTab" directory, and I also can see `GraphTab.ts` file which is consist of the following code in "src/server/graphTab".
[code]

What i

[2021-03-09 11:26] wictorwilen commented on #166
@IshamMohamed - thank you for asking. The only purpose of this class (now) is to "host" the `PreventIframe` attribute, which sets a few HTTP headers to prevent iframing the tab outside of Teams (https://github.com/wictorwilen/express-msteams-host/blob/d2ca03ce6eea59cc2060e6742a42643a6cbc7897/src/routers/MsTeamsPageRouter.ts#L34)

[2021-03-09 12:59] IshamMohamed commented on #166
Thank you for the clarification. I really appreciate it. I hope, we can continue to create any APIs (just routes) under "src/server/" directory so that we have a folder structure as below:
+ src
  + manifest (with support for subfolders for multiple environments/targets)
  + server (containing the server.ts file)
    + apis (contains the ts files for the routes)
  + client (client side scripts)

[2021-03-09 13:36] robgarrett commented on #189
Yup, thanks for following up.  Good to go.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Wictor Wilén <notifications@github.com>
Sent: Tuesday, March 9, 2021 3:37:07 AM
To: pnp/generator-teams <generator-teams@noreply.github.com>
Cc: Rob Garrett <rob@robgarrett.com>; Mention <mention@noreply.github.com>
Subject: Re: [pnp/generator-teams] Failed to create tunnel

[2021-03-09 14:06] wictorwilen commented on #166
@IshamMohamed - that's exactly what's recommended!

[2021-03-09 14:07] wictorwilen commented on #189
Keeping this open, so we can add this into documentation

[2021-03-09 14:08] PaoloPia commented on #186
Hey @wictorwilen,
Talking about adding support for HTTPS, I already updated the code templates in my own branch, but I'd like to also generate a self-signed certificate for SSL hosting. However, there are multiple options to do that (dotnet, PowerShell, OpenSSL, etc.). What is your preference? Or do you rather prefer to just prompt the developer for the path and password of the PFX, without genera

[2021-03-09 14:16] wictorwilen commented on #186
The only preference I have is that it should not require any additional installs, if not needed. I think it would be great to have a custom task that creates the certificate (could be done via the `selfsigned` npm package) and also documentation on how to provide your own.

[2021-03-13 01:22] MTCMarkFranco commented on #187
I have built this using the 1.5 version of the generated project last March. I, too would like to see this in the generator.

[2021-03-16 08:59] PaoloPia commented on #187
Here is the PR: https://github.com/pnp/generator-teams/pull/200 - Thanks.

[2021-03-17 10:40] PaoloPia commented on #186
Here is the PR for this item: https://github.com/pnp/generator-teams/pull/201

[2021-03-30 18:14] NWH-SAmin5 commented on #173
@wictorwilen thank you for the suggestion, I havent got chance to try this yet.. so I will close this, will report back my results though

[2021-03-30 18:14] #173 closed, assigned to nobody

[2021-04-28 04:30] Ntakuya opened #212 "Gulp validate-manifest and manifest not woking my environment"
**Describe the bug**

validate-manifest and manifest not woking my environment.

not display validate-manifest and manifest-task. and not generate package/manifest.json and also generate tmp

**To Reproduce**
Steps to reproduce the behavior:
1. `npm run build`

[code]

[code]

**Expected behavior**

generate `package/NAME.zip`

**Screenshots**
none

**Detailed information**
 - OS: [MacOS]
 - Node

[2021-04-28 04:32] Ntakuya commented on #212
edit `node_modules/yoteams-build-core/dist/manifest.json`

[code]

[2021-04-28 09:18] wictorwilen commented on #212
Thanks for reporting this @Ntakuya  - what version of yo teams are you using? Also what's the output when running `gulp manifest` - which is the task to generate the manifest?

[2021-05-07 14:01] wictorwilen commented on #212
@Ntakuya - any update on this?

[2021-05-07 20:14] vasalis opened #214 "Application Insights not tracking fetch calls"
**Describe the bug**
Enabling application insights does not track fetch requests, even by enabling them on App Insights configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Teams app with Application Insights enabled. For example a Tab using personal scope.
2. Change JavaScript snippet to enable tracking of fetch requests, like this:
   `{
        instrumentationKey: "

[2021-05-10 04:19] Ntakuya commented on #212
@wictorwilen
I'm sorry for late response.
My project is created by yo.

and version is

[code]
generator-teams version is `generator-teams@3.0.3`

[2021-05-10 06:45] wictorwilen commented on #214
Thanks for reporting this. Will take a look at this.

[2021-05-10 06:49] wictorwilen commented on #212
Thanks @Ntakuya.

As I wrote above what happens when you run `gulp manifest`, that is the command for generating the manifest `gulp build` only builds the application.

[2021-05-10 08:46] vasalis commented on #214
In order to solve the issue I ended up using Application Insights for React https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript-react-plugin
It was very easy to do and at the same time it provides much more options for integration with App Insights (for example tracking custom events, metrics etc). Maybe this could be the approach for the next version.
Just a thought :)

[2021-05-10 10:27] wictorwilen commented on #214
@vasalis - very good idea. I personally use the React plugin for many projects, based on yo teams.

[2021-05-11 02:36] Ntakuya commented on #212
im sorry for investing ur time.

so, and i write scripits in my package.json like...

[code]

and then i run `npm run gulp:manifest` .

i get error `[11:24:24] AssertionError [ERR_ASSERTION]: Task never defined: [object Object]`

shouid i rewrite my gulpfile.js?

my gulp file is

[code]

`npm run gulp:manifest error`

[code]

[2021-05-11 13:37] wictorwilen commented on #212
Thanks for the update @Ntakuya, files look ok.

What version of `yoteams-build-core` are you using? And what's the output of `gulp --tasks`?

[2021-05-12 04:16] Ntakuya commented on #212
Thank you for answering.

my `yoteams-build-core` version is `"yoteams-build-core": "^1.1.0"` in my package.json in my project-directory.
and

and run script
[code]

[2021-05-12 07:00] wictorwilen commented on #212
can we test and downgrade `yoteams-build-core` to version 1.0.0?

[2021-05-14 01:47] Ntakuya commented on #212
i'll try it!!!

[2021-05-14 07:44] Lpt-wq commented on #161
@wictorwilen @Vin-1991 can you post an example of webconfig.js for the ts-loader settings? I changed the devtool and ran the gulp ngrok-serve with --no-linting and --debug, it takes around 90 seconds. How do I apply the ts-loader setting?
am using generator version 3.

[2021-05-20 10:41] andrewconnell commented on #188
IMHO, a new project scaffolding should be as bare bones as possible... just enough to scaffold the project and make it work on the first try. Anything more advanced should be handled as docs/tutorials.

This favors the following approach without the last step (that would happen with more advanced stuff):
1. create folder
2. run yo teams
3. scaffold project
4. delete extra stuff unrelated to what I

[2021-05-21 07:21] wictorwilen commented on #188
How about adding a [Code Tour](https://vscode-westeu.azurewebsites.net/learn/educators/codetour) that takes you through your setup and optionally links to more advanced scenarios?

[2021-05-21 07:27] wictorwilen commented on #187
Added in #217

[2021-05-21 07:27] #187 closed, assigned to PaoloPia

[2021-05-21 09:41] waldekmastykarz commented on #188
Since we're talking in the context of an interactive generator, why not offer users a choice with regards to what they want to get scaffolded? That would let them go all the way from a barebones project @andrewconnell mentioned, to a more complete solution maybe even including scripts to easily deploy the generated package to Teams using CLI for Microsoft 365. Yes, it would add an extra prompt or

[2021-05-21 10:41] wictorwilen commented on #188
I get both sides - bare bone scaffolding (which I would use) and more complete examples. This could as you say @waldekmastykarz  be managed by more options. However, given the number of options already in the generator and the exponential increase of maintenance that would require, it's less than optimal. Personally I'd rather create richer examples in the PnP Teams sample gallery and refer to the

[2021-05-21 13:32] waldekmastykarz commented on #188
If these samples are maintained separately from yo the generator, then it could become a challenge to keep them in sync with the version of the generator that someone is using. Another challenge is the discoverability of these samples: how someone using yo teams would know that there are relevant samples that can help them kickstart their dev process?

[2021-05-21 13:52] wictorwilen commented on #188
@waldekmastykarz - that's why I think code tour could be a perfect match... It would be easier to (optionally) scaffold code tour(s) and reference samples/documentation

[2021-05-21 13:53] andrewconnell commented on #188
While @waldekmastykarz brings up valid points, **I strongly disagree with this approach**.

Let's approach this from a different angle...

When you create a new project in Visual Studio, do you get the option of creating more complex examples? You don't see this done with any other generator in the M365 space... not for SPFx, not for Office Add-ins, etc. Samples != tools. Adding the burden of upda

[2021-05-21 13:53] wictorwilen commented on #188
@waldekmastykarz - and I'd rather have the generator and referenced samples out of sync, rather than having generator internal files being out of sync...

[2021-05-21 13:55] wictorwilen commented on #188
Another option would be to have an additional (sub) generator, that *adds* more options to the default generator...but same thing, I will likely not have time to maintain that :-)

[2021-05-21 14:06] wictorwilen commented on #188
**Suggestion**: What if we added support for code tours, all based on what you scaffold. One with an intro/overview of the solution, and one per "feature". The first time you run the generator we'll have the code tour as by default *true* and the next time you scaffold it's default *false*?

[2021-05-21 14:13] andrewconnell commented on #188
Personally, I think it's bloating the generator. It's not just my opinion, but it's exactly how DivDev works. IMHO, they've been pretty successful so I wouldn't try to overthink this.  There's PLENTY of contributions to do on Yo Teams that are more important than this.

Tools != training/docs/samples ... the two should be kept separate.

Code tours are used in SPFx samples as well, but only in the

[2021-05-22 09:55] wictorwilen commented on #212
@Ntakuya - any update on this?

[2021-05-23 15:54] cyril-iselin opened #218 "Webhook for incoming calls Sample"
Hello

Thanks for your great work!

Is there any sample how to implement [ Webhook for incoming calls ] ( @BotCallingWebhook("/api/calling") ) correctly?
How i transfer a call to another agent?

Best Greetings and thnaks!

[2021-05-24 02:58] Ntakuya commented on #212
@wictorwilen
update all modules in global and project(like gulp-cli , yo, tems-builder)
successfully run any packages `gulp manifest`!!!!

Thank you for helping my issue and so sorry for investing time...

[2021-05-24 05:45] wictorwilen commented on #212
Thanks for getting back and glad you resolved it

[2021-05-24 05:45] #212 closed, assigned to nobody

[2021-05-24 05:50] wictorwilen commented on #218
Hi @cyril-iselin - the documentation is available here https://github.com/wictorwilen/express-msteams-host#adding-support-for-calling-in-bots and then you have to implement as described in https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/call-notifications.

On the question to transfer to an agent that question should be asked in the bot framework communities/repos

[2021-05-24 06:04] cyril-iselin commented on #218
Thanks for your answer.

The documentation is really bad and I can't find *any* implementation for this method.

There are some c# implementations but it looks like it works completly different.

[2021-05-25 07:48] wictorwilen commented on #218
Yes, agree, it is not well documented and when I initially did this I had to reverse engineer every single command. And, the SDK available is only for .NET on Windows machines. Also a reason that this feature has not received that much love in the generator.

However, there might be changes to this area, not necessarily in this specific endpoint.

Closing this.

[2021-05-25 07:48] #218 closed, assigned to nobody

[2021-05-30 16:12] Marc93-14 commented on #155
@AmaniSakr @wictorwilen are there any detailed steps on how to configure debugging? I don't currently have launch.json, when I create one which type do I choose? NodeJS? Nodejs legacy?

I chose any type then copied pasted the code provided by @wictorwilen now I run gulp ngrok-serve --debug .. that doesn't do anything. Do I need to click F5 then to start debugging?

The steps in the readme aren't r

[2021-05-30 16:16] Marc93-14 opened #221 "Unable to debug with Yo Teams 2.16 + Having better docs?"
Steps in the docs aren't clear on how to debug apps with Yo Teams.

I don't currently have launch.json, when I create one which type do I choose? NodeJS? Nodejs legacy?

I chose any type then copied pasted the code provided by README file, now I run gulp ngrok-serve --debug .. that doesn't do anything. Do I need to click F5 then to start debugging?

The steps in the readme aren't really complete,

[2021-05-31 06:16] wictorwilen commented on #221
Hi @Marc93-14. The easiest way to get debugging to work is to
1) Create a `.vscode/launch.json` file
2) Add the following to the file:
[code]
3) Start your application with `gulp serve --debug` or `gulp ngrok-serve --debug` (since that's what you mentioned)
4) Go to the debug extension in VSCode and start the Debug task you just added, select the correct node process and debug away

Re documentati

[2021-05-31 06:17] wictorwilen commented on #155
@Marc93-14 - see your OP for the answers: https://github.com/pnp/generator-teams/issues/221#issuecomment-851215809

[2021-05-31 07:13] Marc93-14 commented on #221
Thank you @wictorwilen when I try itI get this error:
Error processing attach: Error: Could not connect to debug target at http://localhost:5858: Promise was canceled at Object.e[as retryGetWSEndpoint]

This error is when I hit F5 (or go to debug tab, click start and choose my process).

[2021-05-31 08:04] wictorwilen commented on #221
@Marc93-14 - just tested on a fresh scaffolded project with this setup, try if that works:

[code]

(This is what will end up in the upcoming versions)

[2021-05-31 22:31] Marc93-14 commented on #221
@wictorwilen that worked!
For the documentation, the Microsoft learn is still using yo teams v 2.16, and the Microsoft videos are being done on the same version by someone who is just reading the same microsoft learn material. i was expecting the microsoft videos to have some details or a bit different from the microsoft learn site. How are we supposed to learn the yo teams, or teams in general if

[2021-05-31 22:31] #221 closed, assigned to nobody

[2021-06-01 08:02] wictorwilen commented on #189
Not about this in docs added in upcoming release.

[2021-06-01 08:02] #189 closed, assigned to nobody

[2021-06-08 07:06] arjunumenon opened #225 "Issue when running gulp ngrok-serve"
**Describe the bug**
Issue when running `gulp ngrok-serve` for **Tab** generator of Yo Teams.
Once the generator has provisioned the files, when we execute `gulp ngrok-serve` we are getting the following error.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Generate the teams app template using yo teams
2. Give the selection as **Tab**
3. After the generation is complete, execute `

[2021-06-08 08:12] wictorwilen commented on #225
Thanks for reporting. I'm unable to reproduce this on both Windows and Ubuntu with different versions of node. Have you done any changes to any files (specifically the `.env`)? Can you please run the following the commands and report back the results

`node_modules\.bin\ngrok version`

and

`find "ngrok" package-lock.json`

[2021-06-09 05:48] arjunumenon commented on #225
Thanks wictor for the super quick response 👍

Not exactly. I have not done anything for the env file for the TAB generator. For the bot, I had done and had updated the Appid and secret. But for TAB, I did not do any update.

2.3.4
![image](https://user-images.githubusercontent.com/10369964/121300109-0415d280-c914-11eb-94b4-6fd4ad3f2a25.png)

Please find the ngrok version in the package-lock.json b

[2021-06-09 06:15] wictorwilen commented on #225
Great, all the versions looks ok.

It looks like ngrok is throwing an error and while handling that error in the ngrok task an other error is thrown, so we can't see the original error.

As I can't replicate I would like you to make a small change in the JavaScript file for the ngrok gulp task. You can find the file in `node_modules\yoteams-build-core\dist\ngrokTasks.js`. In that file please comme

[2021-06-09 06:37] arjunumenon commented on #225
Thanks wictor. Good that there is no version difference with the one where you are testing. Totally appreciate you spending time on the same.

After commenting out the line, I see that the rest of the gulp tasks (except ngrok tasks) are running without any issue.
_Updated ngroktask file below_
![image](https://user-images.githubusercontent.com/10369964/121305988-ea788900-c91b-11eb-9be2-58e28c4f853

[2021-06-09 09:02] wictorwilen commented on #225
Thanks! Let's try another thing, let's explicitly log the error in another way. Try changing the same line to:

[code]

[2021-06-09 10:30] arjunumenon commented on #225
That worked as expected 👍

Now we have a detailed error response from ngrok.default.connect call. Adding the details below.

[code]

[2021-06-09 11:01] wictorwilen commented on #225
Ok, seems like your machine cannot establish the connection to the ngrok services.

Let's try to start ngrok manually by running: `./node_modules/.bin/ngrok http 80`

Are you behind any firewall or proxies? It's fairly common these days that ngrok is blocked by companies.

[2021-06-09 14:02] arjunumenon commented on #225
Thanks for the guidance on that. I don't think ngrok service is NOT getting blocked on the dev machine.

Just to give more information on that same - I am using an independent Azure VM instance which is not part of any corporate firewall. That was the reason why I had spinned-up a new VM on Azure
In this situation as a work-around, I am relying on the work-around where I am manually initiating ngr

[2021-06-09 15:10] wictorwilen commented on #225
Ok, thanks! Let's see if this works then. Run ngrok but with port 3007 (`ngrok http 3007`) - that's the port used by the local server when running any of the `serve` gulp tasks. You might need to open that port on the VM? Or change the port to 80 (`PORT=80` in the `.env` file)

[2021-06-09 15:28] arjunumenon commented on #225
Actually I should have put it in the same message. My bad.. ☹️

I had tried that as well, running ngrok with port 3007. It works too.

After that when I manually run gulp serve from the project folder and run ngrok explicitly, I am able to access the tab from using the ngrok URL without any issue.

Issue I saw was only when I runn gulp ngrok-serve.

[2021-06-09 16:26] wictorwilen commented on #225
That IS weird..

Looking back at the error message:

[code]

If you manually start ngrok on port 3007 and then navigate to the url above, what do you see?

[2021-06-10 06:00] arjunumenon commented on #225
Hi Wictor, Had followed the below steps

1. Started ngrok for port 3007
2. Staarted gulp serve for tabs generated file
3. Tried accessing the ngrok URL and confirmed able to access Tabs
4. Accessed http://127.0.0.1:4040/api/tunnels and i am getting the below response.
[code]

[2021-06-10 06:59] wictorwilen commented on #225
I'm running out of options here, and I've not been able to reproduce this.

To sum it up, here's what I think is going on by looking at the stack trace above and the source code of the ngrok npm package.

1. You run `gulp ngrok-serve`
2. The Ngrok app starts
3. When it's trying to start the tunnel and return the public url, it sends a `POST` message to `api/tunnels` with the options for ngrok (The

[2021-06-10 11:03] wictorwilen commented on #225
Also, I just published a preview of the ngrok gulp task to show the correct error message. Please try and add that with: `npm install yoteams-build-core@preview --save-dev`

[2021-06-10 15:45] arjunumenon commented on #225
Wow!! That is super quick release wictor 🚀. You are amazing to have a beta release pushed across in a short time. 👏.

Could not check that out today. Will try that out and will let you know how did that go.

[2021-06-11 07:22] arjunumenon commented on #225
Hello Wictor - Had tried executing the following commands.
[code]

After that, when we run `gulp ngrok-serve`, I am still not getting the detailed error. Following is what I am getting.
[code]
I see that the changes which you had made in the preview is available when I check ngroktasks.js.

![image](https://user-images.githubusercontent.com/10369964/121647030-91dbf400-cab3-11eb-8bf8-2d4bb479528f.p

[2021-06-11 07:51] wictorwilen commented on #225
Thanks, this just means that there is no detailed message being thrown by the ngrok connect method :-(. I'd suggest you meanwhile run ngrok separately and let's keep an eye on the issue in the ngrok repo for updates.

[2021-06-15 18:09] nanddeepn opened #226 "Support for Adaptive Card 1.4 version"
**Is your feature request related to a problem? Please describe.**
Create applications with adaptive cards for [user specific views](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/universal-actions-for-adaptive-cards/user-specific-views?tabs=mobile).

**Describe the solution you'd like**
I tried using Adaptive Card v1.4 with yo teams, but it does not render a

[2021-06-16 06:05] wictorwilen commented on #226
Thanks @nanddeepn - great suggestion!

[2021-06-16 06:09] nanddeepn commented on #226
Hi @wictorwilen
Thank you. Please let me know, if I can be of any help in picking up this.

[2021-06-28 03:39] rabwill commented on #225
I ran into the same issue today @arjunumenon , thanks for reporting and thanks Wictor for the quick response and fix 🎉
windows 10 , Node 14.1.0
I had to manually set up ngrok and did a gulp serve (after editing the .env) for tabs to work for my little demo. It's def not a blocker but I loved ngrok-serve a lot 😀

[2021-07-22 14:17] patrick-rodgers opened #228 "ngrok-serve not updating manifest"
**Describe the bug**

When running `gulp ngrok-serve` it is expected based on the docs that a new app package is generated with the ngrok urls setup to allow for testing/debugging in Teams. In version generator-teams@3.2.0 this doesn't happen. Instead there appears to be a race condition in how gulp processes series tasks. Serve has no dependency on manifest gulp attempts to optimize the execution

[2021-08-02 15:24] ItsSpoiler commented on #228
I also seem to be having this same problem. Is there any work around for this at the moment?

[2021-08-16 12:13] wictorwilen commented on #228
Thanks for reporting this. This has always worked for me - I wonder if it has something to do with #225 . The `ngrok-serve` command should in series start ngrok (so we can get the url), run the manifest generation and then start the application.

And I think I've found it...

There's an issue with the `yoteams-deploy` package (which redefines some of the Gulp tasks). Specifically it redefines `ngr

[2021-08-19 09:15] wictorwilen commented on #228
@patrick-rodgers - can you please test with `yoteams-deploy@preview`, it should contain a fix for this. It was a miss during the refactoring where the manifest generation was not done without the `--publish` flag

[2021-09-06 15:14] mmsharepoint opened #229 "gulp manifest not working - missing package\*.zip file"
**Describe the bug**
When running gulp manifest (or gulp ngrok-serve as well) I simply miss my package\<app-name>.zip
or a corresponding error message telling me what's wrong.

**To Reproduce**
Not really reproducible. Since I installed yoteams 3.2.0 (incl. yo-deploy 1.0.0 yo-build-core 1.2.0) I created 3 packages.
2 times it worked, 1 time not

**Expected behavior**
I expected a package\<app-name

[2021-09-06 15:47] mmsharepoint commented on #229
Meanwhile I was able to help myself ... and it was a 'typical' C&P bug as 'spaces are not the same as spaces' as I copied my webApplicationInfo: { ... } from the web ...
But shouldn't the output report that it's not able to validate manifest?

[2021-09-09 22:59] devops-app commented on #229
under the project folder type "npm install yoteams-deploy@preview"

[2021-09-10 19:18] SteenN opened #230 "Webpack error when distribute standard App 1.9 to Heroku"
Version 1.8 works fine, but the default generated App with yo teams version 1.9  fails when publishing to Heroku (see errormessage at the bottom). I submitted a ticket to Heroku and they replied, that there was a webpack-error, which is rather obvious. I made a small change in package.json (changed >12 to 14.x for node engine) - otherwise the code is auto-generated. What error in webpack could Her

[2021-09-12 16:20] pschaeflein commented on #228
`yoteams-deploy@preview` fixed the issue for me.

[2021-09-13 14:24] wictorwilen commented on #229
There's also an update to ` yoteams-build-core@preview`  that fixes an issue where you used a manifest version that was not supported by the generator by adding the ` --no-schema-validation`  flag when building

[2021-09-13 14:25] wictorwilen commented on #230
Thanks for reporting this, it's hard to tell what exactly is going wrong here, since there's an empty error message. I would try to run webpack manually and see the complete output of webpack.

[2021-09-14 11:20] #226 closed, assigned to nobody

[2021-09-14 11:20] #228 closed, assigned to wictorwilen

[2021-09-14 11:32] wictorwilen commented on #229
Resolved in #228 and with yoteams-build-core@1.2.1

[2021-09-14 11:32] #229 closed, assigned to nobody

[2021-09-14 11:32] wictorwilen commented on #225
resolved in yoteams-build-core@1.2.1

[2021-09-14 11:32] #225 closed, assigned to nobody

[2021-09-14 12:16] appieschot opened #231 "Feature Request: Use new GitHub issue template"
**Is your feature request related to a problem? Please describe.**
No, just feel that a clear format would help raising issues and feature requests

**Describe the solution you'd like**
Implement: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository as is done in CLI (https://github.com/pnp/cli-microsoft

[2021-09-14 12:34] wictorwilen commented on #231
Feel free to update the existing templates!

[2021-09-15 08:55] #231 closed, assigned to appieschot

[2021-09-16 09:16] wictorwilen opened #234 "Add support for Teams Manifest v 1.11"
### 💡 Idea

Add support for the new Teams Manifest 1.11

### Is your feature related to a bug

no

### Alternatives

_No response_

### Additional Info

_No response_

[2021-09-19 12:16] SteenN commented on #230
I found the error in webpack - turns out the PUBLIC_HOSTNAME, the TAB_APP_ID and TAB_APP_URI from the .env file is not copied to webpack.config.js in the plugins: new webpack.EnvironmentPlugin section. All values are null. Once you manually insert these values from the .env file everything works nicely.

[2021-09-20 07:50] wictorwilen commented on #230
Interesting. Not seen that happen before. Just to verify - you're using a  `.env` file with those properties set? It's not named `anythingelse.env`?

[2021-09-20 19:15] stephanbisser opened #235 "Feature request: Add support for meeting extensions"
### 💡 Idea

Would be nice to add the capabilities for creating meeting extensions using the generator (https://docs.microsoft.com/en-us/microsoftteams/platform/apps-in-teams-meetings/design/designing-apps-in-meetings) so that the developing meeting extensions gets easier

### Is your feature related to a bug

No

### Alternatives

_No response_

### Additional Info

_No response_

[2021-09-21 07:20] appieschot opened #236 "Feature request: Update scaffolded readme files with latest changes"
### 💡 Idea

We haven't updated the scaffolded readme files in a while. Based on the latest schema implementations we should update our readme files accordingly.

### Is your feature related to a bug

No

### Alternatives

_No response_

### Additional Info

_No response_

[2021-09-21 07:22] appieschot opened #237 "Feature request: rebuild bot implementation"
### 💡 Idea

Rebuild the bot implementation and do something that looks more similar to the BotFx default samples, so it's easier for a dev to copy-paste code from existing samples.

### Is your feature related to a bug

No

### Alternatives

_No response_

### Additional Info

Once implemented we could do other things like SSO as well

[2021-09-21 13:33] stephanbisser opened #238 "Feature request: MKDocs for documentation and tutorials"
### 💡 Idea

I'd like to see tutorials and docs on a dedicated GH page using MKDocs similar to other PnP initiatives

### Is your feature related to a bug

no

### Alternatives

_No response_

### Additional Info

_No response_

[2021-09-21 13:35] stephanbisser opened #239 "Feature request: Deployment story of apps from test/staging to prod"
### 💡 Idea

It would be nice to have an easy way of deploying a Teams app which is already deployed on a test/staging tenant to a prod tenant without the need of running through everything again

### Is your feature related to a bug

no

### Alternatives

_No response_

### Additional Info

_No response_

[2021-09-23 08:19] appieschot commented on #239
Would that be part of the generator? Or could we reuse some of the cli commands for this?

[2021-09-23 08:40] stephanbisser commented on #239
That's exactly what we should discuss 😀

[2021-09-24 11:52] SteenN commented on #230
Yes, it's just .env - my issue seems to be Heroku-related and I ran into further problems after solving the webpack error. When using generator 2.71 and version 1.8 the express router will return an access token in exchange for the id token, but when using generator 3.20 (where you split client from server), Heroku express router returns 304 after get-requests and internal server error on post-req

[2021-09-27 10:17] appieschot commented on #238
Coming from CLI I think we should aim for a V1 and a V2. V1 the basics, V2 with tutorials.

- Home (basic intro)
- User Guide
	- Installing
	- Updating
- Concepts
	- Generator structure
	- What's part of our getting started etc.
- About

I guess we should also use the GitHub wiki for the Minimal Path to Awesomeness

[2021-09-27 10:19] appieschot commented on #239
So we have the following commands in the CLI:

- teams app install
- teams app publish
- teams app list

Do we miss commands to achieve a redeployment on a different tenant?

[2021-09-27 20:03] appieschot commented on #236
For future reference, readme file location:
- packages/generator-teams/src/app/templates/README.md

References:
- packages/generator-teams/src/custombot/CustomBotGenerator.ts
- packages/generator-teams/src/connector/ConnectorGenerator.ts
- packages/generator-teams/src/bot/BotGenerator.ts

We should update this file with the latest updates from schema references, and validate if our references need

[2021-09-28 08:51] stephanbisser commented on #234
Closing this issue as it is already available in the preview branch

[2021-09-28 08:51] #234 closed, assigned to stephanbisser

[2021-09-29 08:36] appieschot commented on #238
Thinking about it a bit more we should also 'move' and upgrade our current docs to here as well. I can imagine that we have three steps:

- V1 the basics
- V2 move and restructure current docs
- V3 tutorials

I would suggest to use this issue for the V1 💪 once that is in place we could create a seperate issue for the move of current docs, and for each tutorial a new issue.

[2021-09-29 08:41] stephanbisser commented on #238
Yes, I'd also go with Github Pages for docs and tutorials only as this has a better layout than just .md files in the repo directly. Similar to what the CLI docs look like right?

[2021-09-29 08:46] pkbullock commented on #238
There is already a site in place - https://pnp.github.io/generator-teams/ just needs to be upgraded and completed. The tech used by most of the PnP Repos is MKDocs (CLI, SPFX Samples) and DocFx (PnP Core, PowerShell, Script Samples) this one is MKDocs based. so just need to copy the theme files, maybe use a theme colour linking to the team logo, and setup github actions for automation.

[2021-09-29 12:27] RickVanRousselt commented on #238
I will take this one.

[2021-09-29 12:52] wictorwilen commented on #239
Could this pipeline be expanded to contain the app publishing as well? https://www.wictorwilen.se/blog/deploying-yo-teams-and-node-apps/

[2021-09-30 11:57] appieschot commented on #161
@pnp/generator-teams-maintainers Since we merged #233 do we feel that we can close this one?

[2021-10-01 09:26] stephanbisser commented on #239
Maybe just to clarify my initial idea so we can discuss that:
What would be cool is to have an easy way of deploying a Teams app which I already have deployed to my test tenant for testing while developing it, to my production tenant. The problem I see with a pipeline is, that not everyone uses CI/CD so the CLI would be a natural candidate for that. But it should be as easy as just one command whi

[2021-10-01 09:41] appieschot commented on #239
@stephanbisser that would fit our vision for the CLI, we could spec out a command that would grab an app and copy it to a different tenant (regardless of dev / test etc). @pnp/cli-for-microsoft-365-maintainers if we agree we could move this issue to the cli repo and spec out the command structure

[2021-10-01 10:58] wictorwilen commented on #161
Yes, closing.

[2021-10-01 10:58] #161 closed, assigned to nobody

[2021-10-01 11:00] wictorwilen commented on #239
To clarify **deployment** do we mean the actual application (web app, bot) or the Teams package? The latter has support using the `--deploy` flag

[2021-10-01 11:00] wictorwilen opened #241 "Add support for Teams JS SDK 1.11"
### 💡 Idea

Replace Teams JS SDK 1.10 with 1.11

### Is your feature related to a bug

no

### Alternatives

n/a

### Additional Info

_No response_

[2021-10-01 13:07] waldekmastykarz commented on #239
One challenge I can see here is the support for two accounts across the different tenants. We could do this using MSAL, but right now we don't support multiple accounts, so the only option would be to do it in a script with app-only login included.

[2021-10-01 14:16] sudo-elia commented on #241
Hey, can i update the versions?

[2021-10-01 14:20] appieschot commented on #241
@twopill awesome! All yours! Let us know if you need any help.

[2021-10-01 14:27] appieschot commented on #109
What if we would prefix the questions with for each generator with [generator name]

That would result in something like this:

- [solution] What is your solution name?
- [tab] Default Tab name? (1max 16 chars)
- [bot] etc.
- [custombot]
- [connector]
- [extension]
- [localization]

It would be a fairly simple solution and might provide some clarity when filling in the form.

[2021-10-01 15:02] RickVanRousselt commented on #109
Good idea, and a more extended version of each question should be in the docs. They appear to be fairly straightforward if you have done Teams dev but if you are just starting out these questions are a bombshell.

So I would reference the docs page link that contains the explanation for each question when the generator starts so that it's easy to find where you can find more information

[2021-10-01 16:25] thomyg opened #242 "Project init file"
### 💡 Idea

Related to [Issue 109](https://github.com/pnp/generator-teams/issues/109) I thought of creating something like an "init" file. A JSON config file that holds all the values one provides in the wizard during setup.

With such a file

- senior members of the team can prepopulate values for others
- you can easily recreate the same app from scratch for another tenant (dev, test, prod)
- we

[2021-10-01 19:48] RickVanRousselt commented on #238
First draft is ready. Took V1 and a little of V2 😉 And empty site is only so much :-) Let me know what you think. I put it on my[ GitHub pages](https://rickvanrousselt.github.io/) temporarily not to break the current one.

Some things I would love to get some input on:
- Used parker both as a logo and as a favicon
- Merged all the separate release notes into 1 file already but there is still somet

[2021-10-03 15:44] wictorwilen commented on #242
Yeoman has a config file called `.yo-rc.json` that can be used to persist values - see https://yeoman.io/authoring/storage.html

[2021-10-03 15:47] wictorwilen commented on #238
Love it, looks great.

Re GA - does MKDocs support App Insights? That's what's being used for the generator telemetry, and why not reuse that?

[2021-10-04 06:45] stephanbisser commented on #238
Looks great @RickVanRousselt !
I'd say we use Parker for both.
We should definitely discuss which user guides and tutorials we need in the docs.

[2021-10-04 08:55] stephanbisser commented on #241
As the PR is now merged, I guess we can close the issue. Thanks @twopill for your contribution!

[2021-10-04 08:55] #241 closed, assigned to sudo-elia

[2021-10-04 14:25] RickVanRousselt commented on #242
Perfect, Then we just need a tutorial on how to use this.

[2021-10-04 14:34] wictorwilen commented on #242
The only thing the file is used for right not is the `libraryName` essentially:

[code]

[2021-10-04 18:45] appieschot commented on #238
Sounds like we should get this release out there asap and go from there 🚀

[2021-10-06 05:35] appieschot commented on #242
Let's start with some documentation 📄 on how to set this up. (dependent on #244)

[2021-10-07 19:00] stephanbisser commented on #237
I now have a v1 for rebuilding the bot template which is more or less aligned to the official BF sample for a Teams conversation bot [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/typescript_nodejs/57.teams-conversation-bot). Any feedback on that?
What I'd like to add in the future here is also the ability to create a bot for Teams based on Adaptive so you can plug it int

[2021-10-07 19:04] stephanbisser commented on #239
That definitely would be something we would need to discuss beforehand what's the best approach to that so it's easy to use and intuitive without the need of login here and there

[2021-10-08 09:28] wictorwilen opened #245 "Creating a Message Extension with linting support scaffolds files with linting errors"
### Description

Scaffold a new yo teams project with a Search Message Extension produces 12 linting problems

[code]

### Steps to reproduce

Create a new yo teams project and add a Search Message Extension

### Expected results

No linting errors

### Actual results

File has linting issues, see above

### Project you experience issues with

generator-teams

### generator version

3.3.1

### bui

[2021-10-08 15:00] waldekmastykarz commented on #239
If you've got two tenants with different AADs and using different accounts, I don't think there is a way around it. If you can use the same account on both tenants, then we could get away with a single login, but then would still need to add support for selecting the tenant with which you want to communicate.

[2021-10-12 07:25] stephanbisser commented on #237
A few things I consider adding to the bot template as well as I think that would make sense:

- Option to enable SSO for the bot (and here I would like to have the generator also to provision the necessary AAD app reg)
- Option to add the Graph client to the bot to access the graph (this would only make sense if SSO is enabled first and then we should decide if we want to add the Graph client by d

[2021-10-12 09:25] RickVanRousselt commented on #237
Indeed a single prompt for both seems normal, why would you else need SSO if not for getting data somewhere.

For the app reg; Should the generator be provisioning the app reg? On one hand I think for people starting out with Teams dev this is perfect because they can just start and everything is prepped for them, on the other hand if you know what needs to be done, you might already have one avai